{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block menu %}
    <li><a href="{% url 'webapp:pws_list' %}">{% trans "Cancel" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <form class="uk-form" method="post" name="pws" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="uk-table form-center">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.number.id_for_label }}">{{ form.number.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.number|add_class:'uk-width-1-1' }}
                        {{ form.number.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.name|add_class:'uk-width-1-1' }}
                        {{ form.name.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.city|add_class:'uk-width-1-1' }}
                        {{ form.city.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.office_address.id_for_label }}">{{ form.office_address.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.office_address|add_class:'uk-width-1-1' }}
                        {{ form.office_address.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.water_source.id_for_label }}">{{ form.water_source.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.water_source|add_class:'uk-width-1-1' }}
                        {{ form.water_source.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.price|add_class:'uk-width-1-1' }}
                        {{ form.price.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.logo.id_for_label }}">{{ form.logo.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.logo|add_class:'uk-width-1-1' }}
                        {{ form.logo.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                    </td>
                    <td class="uk-width-5-6" colspan="3">
                        {% render_field form.notes|add_class:'uk-width-1-1'|attr:'rows:3' %}
                        {{ form.notes.errors }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="uk-button uk-button-primary uk-float-right">{% trans "Submit" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}