{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block menu %}
    {% if object %}
        <li><a href="{% url 'webapp:pws_detail' object.pk %}">{% trans "Cancel" %}</a></li>
    {% else %}
        <li><a href="{% url 'webapp:pws_list' %}">{% trans "Cancel" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <form class="uk-form" method="post" name="pws" enctype="multipart/form-data">
            {{ form.media }}
            {% csrf_token %}
            <table class="uk-table form-center border-none uk-table-condensed">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.number.id_for_label }}">{{ form.number.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.number|add_class:'uk-width-1-1' }}
                        {{ form.number.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.name|add_class:'uk-width-1-1' }}
                        {{ form.name.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.city|add_class:'uk-width-1-1' }}
                        {{ form.city.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.office_address.id_for_label }}">{{ form.office_address.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.office_address|add_class:'uk-width-1-1' }}
                        {{ form.office_address.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.zip.id_for_label }}">{{ form.zip.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.zip|add_class:'uk-width-1-1' }}
                        {{ form.zip.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.state|add_class:'uk-width-1-1' }}
                        {{ form.state.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.water_source.id_for_label }}">{{ form.water_source.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.water_source|add_class:'uk-width-1-1' }}
                        {{ form.water_source.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.consultant_name.id_for_label }}">{{ form.consultant_name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.consultant_name|add_class:'uk-width-1-1' }}
                        {{ form.consultant_name.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.consultant_phone.id_for_label }}">{{ form.consultant_phone.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.consultant_phone|add_class:'uk-width-1-1' }}
                        {{ form.consultant_phone.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.plumber_packet_address.id_for_label }}">{{ form.plumber_packet_address.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.plumber_packet_address|add_class:'uk-width-1-1' }}
                        {{ form.plumber_packet_address.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.plumber_packet_location.id_for_label }}">{{ form.plumber_packet_location.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.plumber_packet_location|add_class:'uk-width-1-1' }}
                        {{ form.plumber_packet_location.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.logo.id_for_label }}">{{ form.logo.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.logo|add_class:'uk-width-1-1' }}
                        {{ form.logo.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.price|add_class:'uk-width-1-1' }}
                        {{ form.price.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.bailee_name.id_for_label }}">{{ form.bailee_name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.bailee_name|add_class:'uk-width-1-1' }}
                        {{ form.bailee_name.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.bailee_job_title.id_for_label }}">{{ form.bailee_job_title.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.bailee_job_title|add_class:'uk-width-1-1' }}
                        {{ form.bailee_job_title.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.phone|add_class:'uk-width-1-1' }}
                        {{ form.phone.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.fax.id_for_label }}">{{ form.fax.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.fax|add_class:'uk-width-1-1' }}
                        {{ form.fax.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.email|add_class:'uk-width-1-1' }}
                        {{ form.email.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.letter_left_header_block.id_for_label }}">{{ form.letter_left_header_block.label }}</label>
                    </td>
                    <td class="uk-width-4-6" colspan="2">
                        {{ form.letter_left_header_block|add_class:'uk-width-1-1' }}
                        {{ form.letter_left_header_block.errors }}
                    </td>
                    <td class="uk-width-1-6">
                        {% blocktrans %}
                            List of available placeholders
                            <ul>
                                <li>{BaileeName} - Name of Director of Public Works or other person on whose behalf the letter will be sent</li>
                                <li>{BaileeJobTitle} - Job title of person on whose behalf the letter will be sent</li>
                                <li>{PWSPhone} - PWS's phone</li>
                                <li>{PWSFax} - PWS's fax</li>
                                <li>{PWSEmail} - PWS's email</li>
                            </ul>
                        {% endblocktrans %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.letter_right_header_block.id_for_label }}">{{ form.letter_right_header_block.label }}</label>
                    </td>
                    <td class="uk-width-4-6" colspan="2">
                        {{ form.letter_right_header_block|add_class:'uk-width-1-1' }}
                        {{ form.letter_right_header_block.errors }}
                    </td>
                    <td class="uk-width-1-6">
                        {% blocktrans %}
                            List of available placeholders
                            <ul>
                                <li>{PWSOfficeAddress} - PWS's office address</li>
                                <li>{PWSCity} - PWS's city</li>
                                <li>{PWSState} - PWS's state</li>
                                <li>{PWSZip} - PWS's zip</li>
                            </ul>
                        {% endblocktrans %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                    </td>
                    <td class="uk-width-5-6" colspan="3">
                        {% render_field form.notes|add_class:'uk-width-1-1'|attr:'rows:3' %}
                        {{ form.notes.errors }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="uk-button uk-button-primary uk-float-right">{% trans "Submit" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}