{% load i18n %}
{% load boolean_yes_no %}
{% if perms.webapp.add_survey %}
    <div class="padding-top">
        <a class="uk-align-center uk-text-center" href="{% url 'webapp:survey_add' site.pk service %}" id="site_{{ site.pk }}_service_{{ service }}_survey_add_link">
            <i class="uk-icon-plus"></i> {% trans "Add Survey" %}
        </a>
    </div>
{% endif %}
{% if surveys %}
    <div class="wrapper">
        <table class="uk-table uk-table-hover">
            <thead>
            <tr class="border-bottom">
                <th class="border-right uk-text-center uk-width-1-10">
                    {% trans "No." %}
                </th>
                <th>
                    {% trans "PWS" %}
                </th>
                <th>
                    {% trans "Customer Account" %}
                </th>
                <th>
                    {% trans "Site City" %}
                </th>
                <th>
                    {% trans "Service Address" %}
                </th>
                <th>
                    {% trans "Service Type" %}
                </th>
                <th>
                    {% trans "Survey Type" %}
                </th>
                <th>
                    {% trans "Survey Date" %}
                </th>
                <th>
                    {% trans "Surveyor" %}
                </th>
                <th class="uk-text-center border-left uk-width-1-10">
                    {% trans "Actions" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <td class="uk-text-center border-right">
                        {{ survey.pk }}
                    </td>
                    <td>
                        {{ survey.site.pws.number }}
                    </td>
                    <td>
                        {{ survey.site.cust_number }}
                    </td>
                    <td>
                        {{ survey.site.city }}
                    </td>
                    <td>
                        {{ survey.site.address1 }}
                    </td>
                    <td>
                        {{ survey.service_type }}
                    </td>
                    <td>
                        {{ survey.survey_type }}
                    </td>
                    <td>
                        {{ survey.survey_date }}
                    </td>
                    <td>
                        {{ survey.surveyor }}
                    </td>
                    <td class="border-left uk-text-center">
                        <a href="{% url "webapp:survey_detail" survey.pk %}" id="survey_{{ survey.pk }}_detail_link">
                            {% trans "Detail" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if perms.webapp.add_survey %}
        <div class="padding-top">
            <a class="uk-align-center uk-text-center" href="{% url 'webapp:survey_add' site.pk service %}">
                <i class="uk-icon-plus"></i> {% trans "Add Survey" %}
            </a>
        </div>
    {% endif %}
{% endif %}

