{% extends 'base.html' %}
{% load i18n choices %}
{% block menu %}
    {% if perms.webapp.change_survey %}
    <li><a href="{% url 'webapp:survey_edit' survey.pk %}" id="survey_{{ survey.pk }}_edit_link">{% trans "Edit" %}</a></li>
    {% endif %}
    <li><a href="{% url 'webapp:site_detail' survey.site.pk %}">{% trans "Back to Site" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "PWS" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.site.pws }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Site" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.site }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Service Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.service_type }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Surveyor" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.surveyor }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Survey Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.survey_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Survey Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.survey_type }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Metered" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.metered|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Pump Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.pump_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Additives Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.additives_present|yn }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "CC Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.cc_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Auxiliary Water" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.aux_water|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Special" %}</td>
                <td class="uk-text-center uk-text-primary">{{ survey.special }}</td>
            </tr>
            {% ifequal survey.service_type.service_type 'fire' %}
                <tr class="border-bottom">
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Manufacturer" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ survey.detector_manufacturer }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Model" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ survey.detector_model }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Serial No." %}</td>
                    <td class="uk-text-center uk-text-primary">{{ survey.detector_serial_no }}</td>
                </tr>
            {% endifequal %}
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td class="uk-text-primary" colspan="5">{{ survey.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3 class="uk-text-center">{% trans "Hazards" %}</h3>
    <div>
        {% include "hazard/hazard_include_list.html" %}
    </div>
{% endblock %}