virtualenv
*.pyc
.idea
*.sqlite3
*~
settings_local.py
settings_test.py
*.bak
bigsurvey/static
testres.xml
erd.png
bigsurvey/uploads/excel_files/*
!bigsurvey/uploads/excel_files/.gitkeep
bigsurvey/uploads/pws_logos/*
!bigsurvey/uploads/pws_logos/.gitkeep
.~*