virtualenv
*.pyc
.idea
*.sqlite3
*.sqlite-shm
*.sqlite-wal
*~
settings_local.py
*.bak
bigsurvey/static
testres.xml
erd.png
bigsurvey/uploads/excel_files/*
!bigsurvey/uploads/excel_files/.gitkeep
bigsurvey/uploads/pws_logos/*
!bigsurvey/uploads/pws_logos/.gitkeep
bigsurvey/uploads/photo/*
!bigsurvey/uploads/photo/.gitkeep
!bigsurvey/uploads/photo/thumb
!bigsurvey/uploads/photo/thumb/.gitkeep
.~*