{% load i18n choices %}
{% if hazards %}
    <div class="wrapper">
    <h3 class="uk-text-center">{% trans "Active Hazards" %}</h3>
        <table class="uk-table uk-table-hover">
            <thead>
            <tr class="border-bottom">
                <th class="border-right uk-text-center">
                    {% trans "No." %}
                </th>
                <th>
                    {% trans "Service Type" %}
                </th>
                <th>
                    {% trans "Hazard Type" %}
                </th>
                <th>
                    {% trans "Location" %}
                </th>
                <th>
                    {% trans "Assembly Type" %}
                </th>
                <th>
                    {% trans "Assembly Status" %}
                </th>
                <th>
                    {% trans "Due Install/Test" %}
                </th>
                <th {% if perms.webapp.add_test %}colspan="2"{% endif %} class="uk-text-center border-left">
                    {% trans "Actions" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for hazard in hazards %}
                {% if hazard.is_present %}
                <tr>
                    <td class="uk-text-center border-right">
                        {{ hazard.pk }}
                    </td>
                    <td>
                        {{ hazard.service_type }}
                    </td>
                    <td>
                        {{ hazard.hazard_type }}
                    </td>
                    <td>
                        {{ hazard.location1 }}
                    </td>
                    <td>
                        {{ hazard.bp_device.bp_type_present }}
                    </td>
                    <td>
                        {{ hazard.get_assembly_status_display }}
                    </td>
                    <td>
                        {{ hazard.bp_device.due_test_date }}
                    </td>
                    <td class="border-left uk-text-center">
                        <a href="{% url "webapp:hazard_detail" hazard.pk %}" id="hazard_{{ hazard.pk }}_detail_link">{% trans "Detail" %}</a>
                    </td>
                    <td class="uk-text-center">
                        {% if perms.webapp.add_test and hazard.bp_device and hazard.bp_device.bp_type_present in BP_TYPE.REQUIRE_TEST_TYPES %}
                            <a href="{% url "webapp:test_add" hazard.bp_device.pk %}">{% trans "Add Test" %}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br/>
        <h3 class="uk-text-center">{% trans "Inactive Hazards" %}</h3>
        <table class="uk-table uk-table-hover">
            <thead>
            <tr class="border-bottom">
                <th class="border-right uk-text-center">
                    {% trans "No." %}
                </th>
                <th>
                    {% trans "Service Type" %}
                </th>
                <th>
                    {% trans "Hazard Type" %}
                </th>
                <th>
                    {% trans "Location" %}
                </th>
                <th>
                    {% trans "Assembly Type" %}
                </th>
                <th>
                    {% trans "Assembly Status" %}
                </th>
                <th>
                    {% trans "Due Install/Test" %}
                </th>
                <th {% if perms.webapp.add_test %}colspan="2"{% endif %} class="uk-text-center border-left">
                    {% trans "Actions" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for hazard in hazards %}
                {% if not hazard.is_present %}
                <tr>
                    <td class="uk-text-center border-right">
                        {{ hazard.pk }}
                    </td>
                    <td>
                        {{ hazard.service_type }}
                    </td>
                    <td>
                        {{ hazard.hazard_type }}
                    </td>
                    <td>
                        {{ hazard.location1 }}
                    </td>
                    <td>
                        {{ hazard.bp_device.bp_type_present }}
                    </td>
                    <td>
                        {{ hazard.get_assembly_status_display }}
                    </td>
                    <td>
                        {{ hazard.bp_device.due_test_date }}
                    </td>
                    <td class="border-left uk-text-center">
                        <a href="{% url "webapp:hazard_detail" hazard.pk %}" id="hazard_{{ hazard.pk }}_detail_link">{% trans "Detail" %}</a>
                    </td>
                    <td class="uk-text-center">
                        {% if perms.webapp.add_test and hazard.bp_device and hazard.bp_device.bp_type_present in BP_TYPE.REQUIRE_TEST_TYPES %}
                            <a href="{% url "webapp:test_add" hazard.bp_device.pk %}">{% trans "Add Test" %}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}