{% extends 'base.html' %}
{% load i18n staticfiles google_map choices %}
{% block menu %}
    {% if perms.webapp.change_hazard %}
        <li>
            <a href="{% url 'webapp:hazard_edit' hazard.pk %}" id="hazard_{{ hazard.pk }}_edit_link">
                {% trans "Edit" %}
            </a>
        </li>
    {% endif %}
    {% if show_back_button %}
        <li><a href="{% url 'webapp:site_detail' hazard.site.pk %}">{% trans "Back to Site" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <h3 class="uk-text-center">{% trans "Hazard Info" %}</h3>
        <h5 class="uk-text-center">{% trans "Due Test Date" %}: {{ hazard.due_test_date }}</h5>
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Site" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.site }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Service Type" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.service_type }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Hazard Type" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.hazard_type }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Location 1" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.location1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Location 2" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.location2 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Is present" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.is_present|yn }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Pump Present" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.pump_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Additives Present" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.additives_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "CC Present" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.cc_present|yn }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Auxiliary Water" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.aux_water|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Hazard Degree" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.hazard_degree }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Letter type" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.letter_type }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Status" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.get_assembly_status_display }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Type Required" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_type_required }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Regulation" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.regulation_type }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td class="uk-text-primary" colspan="5">{{ hazard.notes }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">
                    <label>{% trans "Geolocation" %}</label>
                    <p>{% trans "Latitude" %} <span class="uk-text-primary">{{ hazard.latitude }}</span></p>
                    <p>{% trans "Longitude" %} <span class="uk-text-primary">{{ hazard.longitude }}</span></p>
                </td>
                <td colspan="5">
                    <div id="mapholder" style="height: 250px;"></div>
                    <br/>

                    <p id="notification"></p>
                </td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted" colspan="2">{% trans "Photo" %}</td>
                <td class="uk-text-left uk-text-primary" colspan="2">
                    {% if hazard.photo %}
                        <a href="{{ hazard.photo.url }}" target="_blank">
                            <img src="{{ hazard.photo_thumb.url }}"/>
                        </a>
                    {% else %}
                        <span>{% trans "No photo available" %}</span>
                    {% endif %}
                </td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <h3 class="uk-text-center">{% trans "BP-Device Info" %}</h3>
        {% if hazard.bp_device %}
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Type Present" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.bp_type_present }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Installed Properly" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.installed_properly|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Installer" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.installer }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Install Date" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.install_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Replace Date" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.replace_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Location" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.assembly_location }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Orientation" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.orientation }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "BP Size" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.bp_size }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Manufacturer" %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.manufacturer }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Model No." %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.model_no }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Serial No." %}</td>
                <td class="uk-text-left uk-text-primary">{{ hazard.bp_device.serial_no }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td class="uk-text-primary" colspan="5">{{ hazard.bp_device.notes }}</td>
            </tr>
            </tbody>
        </table>
            {% if perms.webapp.browse_devices %}
                <div class="uk-text-center">
                    {% if show_install_button %}
                        <a class="uk-button uk-button-primary" id="replace_device_link"
                           href="{% url "webapp:bp_device_add" hazard.pk %}">
                            {% trans "Replace Backflow Preventer" %}
                        </a>
                    {% else %}
                        <a class="uk-button uk-button-primary" id="edit_device_link"
                           href="{% url "webapp:bp_device_edit" hazard.bp_device.pk %}">
                            {% trans "Edit Current BP-Device Info" %}
                        </a>
                        <a class="uk-button uk-button-primary" id="replace_device_link"
                           href="{% url "webapp:bp_device_add" hazard.pk %}">
                            {% trans "Enter New BP-Device Info" %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <h3 class="uk-text-left uk-text-primary uk-text-center">{% trans "No Backflow Preventer present" %}</h3>
            {% if perms.webapp.browse_devices %}
                <div class="uk-text-center">
                    <a class="uk-button uk-button-primary" id="install_device_link"
                       href="{% url "webapp:bp_device_add" hazard.pk %}">
                        {% if show_install_button %}
                            {% trans "Install Backflow Preventer" %}
                        {% else %}
                            {% trans "Enter New BP-Device Info" %}
                        {% endif %}
                    </a>
                </div>
            {% endif %}
            </div>
        {% endif %}
    <hr/>
    {% if perms.webapp.browse_test and hazard.bp_device.bp_type_present in BP_TYPE.REQUIRE_TEST_TYPES %}
        <h3 class="uk-text-center">{% trans "Tests" %}</h3>
        <div>
            {% include 'test/test_include_list.html' %}
        </div>
    {% endif %}
{% endblock %}
{% block end_scripts %}
    {% load_google_map_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            GoogleMap.mapHolder = $('#mapholder');
            GoogleMap.setCoords({{ hazard.latitude|default_if_none:0 }}, {{ hazard.longitude|default_if_none:0 }}, false);
            GoogleMap.initialize(false);
        });
    </script>
{% endblock %}