{% extends 'base.html' %}
{% load i18n staticfiles google_map choices %}
{% block menu %}
    <li><a href="{% url 'webapp:hazard_edit' hazard.pk %}" id="hazard_{{ hazard.pk }}_edit_link">{% trans "Edit" %}</a></li>
    <li><a href="{% url 'webapp:site_detail' hazard.site.pk %}">{% trans "Back to Site" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Pump Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.pump_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Additives Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.additives_present|yn }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "CC Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.cc_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Auxiliary Water" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.aux_water|yn }}</td>
            </tr>


            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Site" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.site }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Service Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.service_type }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Hazard Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.hazard_type }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Location 1" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.location1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Location 2" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.location2 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Is present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.is_present|yn }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Description" %}</td>
                <td class="uk-text-primary" colspan="5">{{ hazard.notes }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">
                    <label>{% trans "Geolocation" %}</label>
                </td>
                <td colspan="5">
                    <div id="mapholder" style="height: 250px;"></div>
                    <br/>

                    <p id="notification"></p>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Latitude" %}</td>
                <td class="uk-text-center uk-text-primary" id="latitude">{{ hazard.latitude }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Longitude" %}</td>
                <td class="uk-text-center uk-text-primary" id="longitude">{{ hazard.longitude }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Status" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.assembly_status|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Location" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.assembly_location }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Installed Properly" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.installed_properly|yn }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Installer" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.installer }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Install Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.install_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Replace Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.replace_date }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Orientation" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.orientation }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "BP Type Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_type_present }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "BP Size" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_size }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Manufacturer" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.manufacturer }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Model No." %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.model_no }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Serial No." %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.serial_no }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "BP Type Required" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_type_required }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Due Install/Test" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.due_install_test_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Regulation" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.regulation_type }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="uk-text-right uk-text-muted">{% trans "Photo" %}</td>
                <td class="uk-text-center uk-text-primary" colspan="2">
                    {% if hazard.photo %}
                        <a href="{{ hazard.photo.url }}" target="_blank">
                            <img src="{{ hazard.photo_thumb.url }}"/>
                        </a>
                    {% else %}
                        <span>{% trans "No photo available" %}</span>
                    {% endif %}
                </td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
    </div>
    {% if perms.webapp.browse_test and hazard.bp_type_required in BP_TYPE.REQUIRE_TEST_TYPES %}
        <h3 class="uk-text-center">{% trans "Tests" %}</h3>
        <div>
            {% include 'test/test_include_list.html' %}
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% load_google_map_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            GoogleMap.mapHolder = $('#mapholder');
            GoogleMap.setCoords({{ hazard.latitude|default_if_none:0 }}, {{ hazard.longitude|default_if_none:0 }}, false);
            GoogleMap.initialize(false);
        });
    </script>
{% endblock %}