{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load google_map %}
{% block menu %}
    {% if hazard.pk %}
        <li><a href="{% url 'webapp:hazard_detail' hazard.pk %}">{% trans "Cancel" %}</a></li>
    {% else %}
        <li><a href="{% url 'webapp:site_detail' site_pk %}">{% trans "Cancel" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'hazard/partial/hazard_form.html' %}
    </div>
{% endblock %}
{% block scripts %}
    {% if perms.webapp.change_all_info_about_hazard %}
        {% load_google_map_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                GoogleMap.mapHolder = $('#mapholder');
                GoogleMap.latitudeInput = $('input[name="latitude"]');
                GoogleMap.longitudeInput = $('input[name="longitude"]');
                GoogleMap.notificationLabel = $('#notification');
                GoogleMap.initialize(true);
            });
        </script>
    {% endif %}
{% endblock %}