{% extends 'base.html' %}
{% load i18n staticfiles widget_tweaks google_map %}
{% block menu %}
    {% if hazard_pk %}
        <li><a href="{% url 'webapp:hazard_detail' hazard_pk %}">{% trans "Cancel" %}</a></li>
    {% else %}
        <li><a href="{% url 'webapp:site_detail' site_pk %}">{% trans "Cancel" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <form class="uk-form" method="post" name="hazard" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'hazard/partial/hazard_form.html' %}
        </form>
    </div>
{% endblock %}
{% block end_scripts %}
    {% load_google_map_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            GoogleMap.mapHolder = $('#mapholder-0');
            GoogleMap.latitudeInput = $('input[name="latitude"]');
            GoogleMap.longitudeInput = $('input[name="longitude"]');
            GoogleMap.notificationLabel = $('#notification');
            GoogleMap.getLocationButton = $('button[data-action="get-location"]');
            GoogleMap.initialize(true);
        });
    </script>
{% endblock %}