{% load staticfiles %}
{% load i18n %}
{% load i18n widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% trans "Password reset successful" %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.gradient.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div class="uk-grid uk-grid-match">
    <div class="uk-width-1-2 uk-container-center uk-vertical-align-middle uk-panel uk-panel-box">
        <h2>{% trans " Password Reset Email Sent" %}</h2>

        <p>{% trans "We've sent instructions for resetting your password to the email address you provided" %}</p>
    </div>
</div>
</body>
</html>