{% load staticfiles %}
{% load i18n %}
{% load i18n widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% trans "Reset Password" %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.gradient.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    <style>
        .errorlist {
            color: #FF0000;
        }
    </style>
</head>
<body class="uk-height-1-1 uk-vertical-align">
<div class="uk-grid">
    <div class="uk-width-1-2 uk-container-center uk-vertical-align-middle uk-panel uk-panel-box">
        <p class="uk-text-large uk-text-muted">{% trans " Please enter your email address below and we will send you instructions for setting a new password." %}</p>

        <form action="" method="post" class="uk-form">
            <div class="uk-form-row">
                {{ form.email.errors }}
                <label for="id_email">{% trans "Email:" %}</label>
                {{ form.email|add_class:'uk-width-1-1' }}
                <input class="uk-width-1-1" type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

                <p class="uk-text-muted">{% trans "The email address associated with your account" %}</p>
            </div>
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">{% trans "Send" %}</button>

        </form>
    </div>
</div>
</body>
</html>
