{% extends 'base.html' %}
{% load i18n %}
{% load form_helper %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/progress.min.css' %}">
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <h2>{% trans 'Example rows' %}</h2>

                <div class="uk-overflow-container">
                    <table class="uk-table bordered-all example-rows-table">
                        <thead>
                        <tr>
                            {% for column_index, field_name in excel_field_headers %}
                                <th data-value="{{ column_index }}">
                                    {{ field_name }}
                                    <br>
                                    <span class="model_field uk-text-danger">{% trans 'None' %}</span>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in excel_example_rows %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-2-3">
                {% if formset.non_form_errors %}
                    <div class="alert-margin-top uk-alert uk-alert-danger" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        {{ formset.non_form_errors }}
                    </div>
                {% endif %}
                <form class="uk-form" method="post" action="{% url 'webapp:import-mappings-process' %}" name="import-mappings">
                    <button type="submit" class="uk-button uk-button-primary" data-uk-modal="{target:'#excel-validation',bgclose:false,keyboard:false}">{% trans 'Submit' %}</button>
                    <button type="button" class="uk-button uk-button-danger" data-action="reset">{% trans 'Reset' %}</button>
                    {% if import_mappings %}
                        <button type="button" class="uk-button uk-button-success" data-action="populate">{% trans 'Populate choices from previous import' %}</button>
                    {% endif %}
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <table class="uk-table">
                        <tbody>
                        {% for row_index in rows_count|xrange_filter %}
                            <tr>
                                {% for col_index in '01'|make_list %}
                                    {% get_formset_index row_index col_index as index %}
                                    {% get_form formset index as form %}
                                    <td>
                                        {{ form.model_field }}
                                        {{ form.model_field.label }}
                                        {% if form.fields.excel_field.required %}
                                            <span class="uk-text-danger">*</span>
                                        {% endif %}
                                        <br>
                                        <span class="uk-text-muted">{{ form.model_field.help_text }}</span>
                                    </td>
                                    <td>
                                        {{ form.excel_field }}
                                        {{ form.excel_field.errors }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="uk-width-1-3" style="padding-top: 20px;">
                <h3>{% trans 'Unselected Fields' %}</h3>
                <ul class="unselected-fields">
                    {% for value, field_name in excel_field_headers %}
                        <li data-value="{{ value }}">
                            {{ field_name }}
                        </li>
                    {% endfor %}
                </ul>
                <p class="uk-text-muted">
                    {% blocktrans %}
                        Note: Field, related to PWS (like "PWSID") may not be selected, because You have selected PWS in previous step.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div id="excel-validation" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-spinner valign-center-modal-spinner spinner-crossbrowser"></div>
            <p class="uk-text-center uk-text-primary">{% trans 'Please wait while the file is being checked.' %}</p>
        </div>
    </div>
    <div id="import-progress" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-spinner valign-center-modal-spinner spinner-crossbrowser"></div>
            <p class="uk-text-center uk-text-primary">{% trans 'Import was started. You can see the progress below.' %}</p>

            <div class="uk-progress uk-progress-striped uk-active">
                <div class="uk-progress-bar" style="width: 0;">0%</div>
            </div>
        </div>
    </div>
    <div id="import-progress-modal-opener" class="uk-hidden" data-uk-modal="{target:'#import-progress',bgclose:false,keyboard:false}"></div>
{% endblock %}
{% block scripts %}
    <script>
        var none_text = '{% trans 'None' %}';
        var cached_mappings;
        {% if import_mappings %}
            cached_mappings = JSON.parse('{{ import_mappings|safe }}');
        {% else %}
            cached_mappings = null;
        {% endif %}

        {% if request.session.import_progress_pk %}
            $(document).ready(function () {
                $('#import-progress-modal-opener').click();
                var url = '{% url 'webapp:import-progress' %}';
                setInterval(function () {
                    $.ajax(url, {
                        success: function (response) {
                            var percentage = response + '%';
                            $('#import-progress').find('.uk-progress-bar').css('width', percentage).text(percentage);
                            if (response == '100') {
                                window.location.href = '{% url 'webapp:home' %}';
                            }
                        }
                    })
                }, 1000);
            });
        {% endif %}
    </script>
    <script src="{% static 'js/custom/import.js' %}"></script>
{% endblock %}