{% extends "base.html" %}
{% load i18n choices common widget_tweaks pagination_tags %}
{% block content %}
<div class="wrapper">
    <form action="" method="get" name="test_filter" class="uk-form uk-form-stacked">
        <div class="uk-block uk-block-muted">
            <div class="uk-container">
                <div class="uk-grid uk-grid-match" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="id_start_date">{{ form.start_date.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.start_date|attr:"data-uk-datepicker:{format:'YYYY-MM-DD'}" }}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="id_end_date">{{ form.end_date.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.end_date|attr:"data-uk-datepicker:{format:'YYYY-MM-DD'}" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-panel">
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="id_pws">{{ form.pws.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.pws }}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="id_user_group">{{ form.user_group.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.user_group }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-panel">
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="id_username">{{ form.username.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label"
                                       for="id_record_object">{{ form.record_object.label }}</label>

                                <div class="uk-form-controls">
                                    {{ form.record_object }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-align-center">
                        <button class="uk-button uk-button-primary uk-align-center" type="submit">
                            {% trans "Apply Filters" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <table class="uk-table uk-table-hover">
        <thead>
        <tr class="border-bottom border-top">
            <th class="border-right uk-text-center">
                {% trans "No." %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "Operation date and time" %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "User" %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "Groups" %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "PWS" %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "Object" %}
            </th>
            <th class="border-right uk-text-center">
                {% trans "Changes" %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% if version_objects_with_diffs %}
        {% autopaginate version_objects_with_diffs 20 %}
        {% for version, diff in version_objects_with_diffs %}
        <tr>
            <td class="uk-text-center border-right">
                {{ forloop.counter }}
            </td>
            <td class="uk-text-center border-right">
                {{ version.revision.date_created }}
            </td>
            <td class="uk-text-center border-right">
                {{ version.revision.user }}
            </td>
            <td class="uk-text-center border-right">
                {% for group in version.revision.user.groups.all %}
                    <p>{{ group }}</p>
                {% endfor %}
            </td>
            <td class="uk-text-center border-right">
                {% if version.object.get_pws_list and version.object.get_pws_list|length > 0 %}
                    {% for pws in version.object.get_pws_list %}
                        <p>{{ pws }}</p>
                    {% endfor %}
                {% elif version.object.employee %}
                    {% for pws in version.object.employee.pws.all %}
                        <p>{{ pws }}</p>
                    {% endfor %}
                {% else %}
                    ''
                {% endif %}
            </td>
            <td class="uk-text-center border-right">
                {{ version.object|verbose_name|capfirst }}: {{ version.object }}
            </td>
            <td class="uk-text-center border-right">
                {% if diff|length > 0 %}
                {% autoescape off %}{{ diff }}{% endautoescape %}
                {% else %}
                {% autoescape off %}{% trans "Changes are reflected <br>in the connected record" %}{% endautoescape %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7"><div class="uk-text-center">{% trans "No records found" %}</div></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="custom-pagination">
        {% paginate %}
    </div>
</div>
{% endblock %}