{% load i18n %}
<span style="display: inline-block;"> The text should read as follows:</span><br/>

<span style="display: inline-block; margin-top: 20px;">Thank you for choosing Garder to manage your Cross Connection Control and Backflow Prevention Program.  Your trial
subscription, click on the button now.</span><br/>

<span style="display: inline-block; margin-top: 20px;">
    <a href="http://{{ site_url }}"
       style="display: inline-block; padding: 15px; background: blue; border-radius: 4px; color: white; text-decoration: none;">Begin
        Trial Now</a></span><br>

<span style="display: inline-block; margin-top: 20px;">Please, click here to download Sample Data spreadsheet and Quick Start Guide. (часть текста "here to download Sample
Data spreadsheet and Quick Start Guide" сделать ссылкой)</span><br>

<span style="display: inline-block; margin-top: 20px;">{% trans "The service registered new PWS:" %} {{ pws.name }}</span>
<br>

<span style="display: inline-block; margin-top: 20px;">{% trans "Your username:" %} {{ username }}</span>
