{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block menu %}
    <li><a href="{% url "webapp:letter_edit" letter.pk %}" id="letter_{{ letter.pk }}_edit_link">
        {% trans "Edit" %}
    </a></li>
    <li><a href="{% url "webapp:letter_pdf" letter.pk %}" id="letter_{{ letter.pk }}_pdf_link" data-action="download-pdf">
        {% trans "Get PDF" %}
    </a></li>
{% endblock %}
{% block content %}
    <div id="letter_detail" class="wrapper">
        {% include 'messages.html' %}
        <div class="wrapper uk-width-4-5 uk-align-center">
            <form method="post" class="uk-form uk-form-stacked uk-align-right" name="letter-send">
                {% csrf_token %}
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.send_to.id_for_label }}">{{ form.send_to.label }}</label>

                    <div class="uk-form-controls">
                        {{ form.send_to|add_class:"uk-width-1-1" }}
                        <p class="uk-text-small">
                            {% blocktrans %}
                                You can input here several email addresses separating them by comma
                            {% endblocktrans %}
                        </p>
                        {{ form.send_to.errors }}
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <label>{{ form.attach_testers }} {{ form.attach_testers.label }}</label>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <label>{{ form.attach_consultant_info }} {{ form.attach_consultant_info.label }}</label>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" name="send" class="uk-button uk-button-primary">{% trans "Send" %}</button>
                </div>
            </form>
            <div class="uk-clearfix"></div>
        </div>
        <div class="wrapper uk-width-4-5 uk-align-center">
            {{ letter.rendered_body|safe }}
        </div>
    </div>
    <div id="get-pdf-modal-wrapper"></div>
{% endblock %}
{% block scripts %}
    <script>
        function isMsie() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            return !!(msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./));

        }
        $(document).ready(function () {
            $('[data-action="download-pdf"]').click(function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                $.ajax(url, {
                    method: 'POST',
                    data: new FormData($('form[name="letter-send"]').get(0)),
                    processData: false,
                    contentType: false,
                    success: function (response, status, xhr) {
                        var content_disposition = xhr.getResponseHeader('Content-Disposition');
                        var regexp = /filename="(.*)"/;
                        var filename = regexp.exec(content_disposition)[1];
                        var blob = new Blob([response], {
                            "type": "application/pdf"
                        });

                        if (isMsie()) {
                            window.navigator.msSaveOrOpenBlob(blob, filename);
                        } else {
                            var link = document.createElement('a');
                            link.setAttribute("href", window.URL.createObjectURL(blob));
                            link.setAttribute("download", filename);
                            link.style.display = 'none';
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}