{% extends "letter/send_templates/base.html" %}
{% load i18n %}
{% block letter_content %}
The City of {{ letter.site.city }}, under the direction of the Louisiana Department of Health and Hospitals
(DHH), has developed a Cross Connection Control and Backflow Prevention Program.  This
program was developed to minimize the impact of potential contaminants from entering the
potable water supply.  As such, part of the plan is to insure that customers with auxiliary water,
such as ponds, fountains, etc., on their property fill these vessels using an air gap.  The easiest
way to accomplish this task is to securing the end of the filling hose to a permanent fixture
above the flood level rim of the vessel and let water flow through the air into the vessel.  This is
a requirement of DHH.
<br/><br/>
Should the customer be found not complying with this agreement, then the City of {{ letter.site.city }} will
require that a reduced pressure backflow preventer be installed in accordance with DHH
regulations.  This plumbing device will have to be placed behind your water meter at significant
cost to you should non-compliance become an issue.  <u>If you are in agreement with the terms
presented within this document, please sign at the designated place below and return this letter
via email to</u> {{ letter.user.email }}. <i>Failure to notify this office of your agreement to this condition will be
considered nonresponsive and therefore necessitate the installation of a backflow preventer.</i>
{% endblock %}
{% block agreement %}
I, ___________________________________, agree to maintain an air gap when filling my
swimming pool and agree that a backflow preventer will be required should I not comply with the pool
filling requirements.
{% endblock %}