{% extends "letter/send_templates/base.html" %}
{% load i18n %}
{% block second_notice %}
    {% trans "2nd Notice" %}
{% endblock %}
{% block letter_content %}
The City of {{ letter.site.city }} is in the process of implementing the required cross connection control
and backflow prevention program in accordance with mandates established by the
Louisiana Department of Health & Hospitals (DHH). We previously sent you
correspondence requiring the testing or installation of a backflow preventer on your
plumbing system.  To date, we have not received a copy of a successful test report on your
backflow preventer.  In accordance with DHH regulations, the backflow preventer must be
tested upon installation and annually thereafter.
<br/><br/>
In order to insure that the work is being performed by State regulated personnel, the City of
{{ letter.site.city }} has developed the attached approved list for your use in selecting personnel to
perform the work. <u>Only those individuals on the approved list may be used to perform the
work.</u> You may choose anyone from this list.  However, should you wish to use a plumber
that is not on the approved list, your selected plumber must have a Water Supply Protection
Specialist (WSPS) endorsement on their license and must provide the information in the
City of {{ letter.site.city }} Plumber’s Packet.  The Plumber’s Packet is available at city hall located at
{{ letter.site.pws.office_address }}
<br/><br/>
As mentioned above, this is a state mandated program. <u>The only recourse the City has is to
discontinue water service to those who do not comply.</u>  Please email us with a successful
test report by the above stated Test Due Date at {{ letter.user.email }}
{% endblock %}
{% block sign %}
{% endblock %}