{% load i18n %}
<div style="border-top: 1px solid #a9a9a9; width: 100%; margin-top: 30px; padding-top: 20px">
    <h3>{% trans 'Testers List' %}</h3>
    <table style="width: 100%; border-collapse: collapse">
        <thead>
        <tr>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Name' %}</th>
            <th style="padding: 5px; border: 1px solid #000000; width: 30px">{% trans 'State' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'City' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Email' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Address' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Zip' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Phone 1' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tester in testers %}
            <tr>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.get_full_name }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.state }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.city }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.email }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.address }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.zip }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.phone1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>