{% load i18n common %}

<div style="table-layout: fixed; width: 100%; margin-top: 30px; padding-top: 20px">
    <h3>{% trans 'Testers List' %}</h3>
    <table style="width: 100%; border-collapse: collapse">
        <tr>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Name' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Address' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'City' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'State' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Zip' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Phone 1' %}</th>
            <th style="padding: 5px; border: 1px solid #000000;">{% trans 'Email' %}</th>
        </tr>
        {% if testers_true %}
            <tr>
                <td colspan="7" style="padding: 5px;font-weight: bold; text-align: center; border:1px solid #000000">
                    {% trans "WSPS Approved Plumbers" %}
                </td>
            </tr>
        {% endif %}
        {% for tester in testers_true %}
            <tr>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.get_full_name }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.address }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.city }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.state }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.zip }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.phone1 }}</td>
                <td style="padding: 5px; border: 1px solid #000000; width:300px;">{{ tester.email|string_indent:30 }}</td>
            </tr>
        {% endfor %}
        {% if testers_false %}
            <tr>
                <td colspan="7" style="padding: 5px;font-weight: bold; text-align: center; border:1px solid #000000">
                    {% trans "Approved General Testers" %}
                </td>
            </tr>
        {% endif %}
        {% for tester in testers_false %}
            <tr>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.get_full_name }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.address }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.city }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.state }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.zip }}</td>
                <td style="padding: 5px; border: 1px solid #000000;">{{ tester.employee.phone1 }}</td>
                <td style="padding: 5px; border: 1px solid #000000; width:300px;">{{ tester.email|string_indent:30 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>