{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
<form method="post" name="credit-card-form" class="uk-form uk-form-horizontal">
    <div class="uk-form-row">
        <label class="uk-form-label" for="{{ credit_card_form.type.id_for_label }}">{{ credit_card_form.type.label }}</label>
        {{ credit_card_form.type }}
        <div class="margin-left-200">
            {{ credit_card_form.type.errors }}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="{{ credit_card_form.number.id_for_label }}">{{ credit_card_form.number.label }}</label>
        {{ credit_card_form.number }}
        <div class="margin-left-200">
            {{ credit_card_form.number.errors }}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="{{ credit_card_form.cvv2.id_for_label }}">{{ credit_card_form.cvv2.label }}</label>
        {{ credit_card_form.cvv2 }}
        <div class="margin-left-200">
            {{ credit_card_form.cvv2.errors }}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="{{ credit_card_form.expire_year.id_for_label }}">{{ credit_card_form.expire_year.label }}</label>
        {{ credit_card_form.expire_year }}
        <div class="margin-left-200">
            {{ credit_card_form.expire_year.errors }}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="{{ credit_card_form.expire_month.id_for_label }}">{{ credit_card_form.expire_month.label }}</label>
        {{ credit_card_form.expire_month }}
        <div class="margin-left-200">
            {{ credit_card_form.expire_month.errors }}
        </div>
    </div>
    <div class="uk-form-row">
        <button type="submit" class="paypal-button margin-left-200"><img src="{% static 'img/paypal-button.png' %}"></button>
    </div>
</form>