{% extends 'base.html' %}
{% load i18n widget_tweaks staticfiles test_form_helper form_helper %}
{% block menu %}
    {% if object %}
        <li><a href="{% url 'webapp:test_detail' object.pk %}">{% trans "Cancel" %}</a></li>
    {% else %}
        <li><a href="{% url 'webapp:hazard_detail' hazard.pk %}">{% trans "Cancel" %}</a></li>
    {% endif %}
{% endblock %}
{% block styles %}
    <style>
        ul.errorlist {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <div class="test-report-wrapper">
            <h3 class="uk-text-uppercase uk-text-center uk-text-bold">{% trans 'Test and Maintenance report' %}</h3>

            <p class="uk-text-uppercase uk-text-center">{% trans 'Backflow Prevention Assemblies' %}</p>

            <form class="uk-form" method="post" name="test">
                {% csrf_token %}
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Customer' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.cust_name }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Street Address' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.address1 }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Mailing Address' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.cust_address1 }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Location of Assembly' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.assembly_location }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Assembly Type' %}: </p>
                    <span class="inline-width-3-5">{% render_bp_type_checkboxes hazard.bp_type_required %}</span>

                    <p class="inline-width-1-15">{% trans 'Size' %}: </p>
                    <span class="inline-width-2-15 border-bottom">{{ hazard.bp_size }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Manufacturer' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ hazard.manufacturer }}</span>

                    <p class="inline-width-1-6">{% trans 'Model no.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ hazard.model_no }}</span>

                    <p class="inline-width-1-6">{% trans 'Serial no.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ hazard.serial_no }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Test Kit Manuf.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ request.user.employee.test_manufacturer }}</span>

                    <p class="inline-width-1-6">{% trans 'Serial Number' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ request.user.employee.test_serial }}</span>

                    <p class="inline-width-1-6">{% trans 'Date Calibrated' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ request.user.employee.test_last_cert }}</span>
                </div>

                <table class="uk-table border-all uk-table-condensed">
                    <thead>
                    <tr>
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Check Valve #1' %}
                            </th>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Relief Valve' %}
                            </th>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Check Valve #2' %}
                            </th>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Pressure Vacuum Breaker' %}
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                        <tr>
                            {% if hazard.bp_type_required in BP_TYPE.RP_TYPES %}
                                <td>
                                    {% render_radiobuttons form.cv1_leaked %}
                                </td>
                                <td>
                                    <p class="rv_psi1">
                                        {% trans 'Opened at' %}
                                        {{ form.rv_psi1.errors }}
                                        {{ form.rv_psi1|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                        {% trans 'psi' %}
                                    </p>

                                    <p>{% trans 'Did not open' %} {{ form.rv_did_not_open }}</p>

                                    <p>{{ form.rv_did_not_open.errors }}</p>
                                </td>
                                <td>
                                    {% render_radiobuttons form.cv2_leaked %}
                                </td>
                            {% endif %}
                            {% if hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                                <td>
                                    <p>{% trans 'Air Inlet: Did not open' %} {{ form.air_inlet_did_not_open }}</p>

                                    <p class="air_inlet_psi">
                                        {% trans 'Opened at' %}
                                        {{ form.air_inlet_psi.errors }}
                                        {{ form.air_inlet_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                        {% trans 'psi' %}
                                    </p>

                                    <p>
                                        {{ form.air_inlet_did_not_open.errors }}
                                    </p>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>{% trans 'Gauge pressure accross' %}</p>

                                <p class="cv1_gauge_pressure">
                                    {% trans 'Check valve' %}
                                    {{ form.cv1_gauge_pressure.errors }}
                                    {{ form.cv1_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES %}
                            <td>
                                <p>{% trans 'Outlet shut-off Valve' %}</p>
                                {% render_radiobuttons form.outlet_sov_leaked %}
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>{% trans 'Gauge pressure accross' %}</p>

                                <p class="cv2_gauge_pressure">
                                    {% trans 'Check valve' %}
                                    {{ form.cv2_gauge_pressure.errors }}
                                    {{ form.cv2_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                <p>{% trans 'Check Valve: Leaked' %} {{ form.cv_leaked }}</p>

                                <p class="cv_held_pressure">
                                    {% trans 'Or held at' %}
                                    {{ form.cv_held_pressure.errors }}
                                    {{ form.cv_held_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>

                                <p>
                                    {{ form.cv_leaked.errors }}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                {% render_radiobuttons form.cv1_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul">
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.0.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Rubber Parts Kit'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Rubber Parts Kit' %}>
                                            <label for="{{ form.cv1_replaced_details.0.id_for_label }}">{% trans 'Rubber Parts Kit' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.1.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'C.V. Assembly'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'C.V. Assembly' %}>
                                            <label for="{{ form.cv1_replaced_details.1.id_for_label }}">{% trans 'C.V. Assembly' %}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.2.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Disk'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Disk' %}>
                                            <label for="{{ form.cv1_replaced_details.2.id_for_label }}">{% trans 'Disk' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.3.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'O-Rings'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'O-Rings' %}>
                                            <label for="{{ form.cv1_replaced_details.3.id_for_label }}">{% trans 'O-Rings' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.4.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Seat'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Seat' %}>
                                            <label for="{{ form.cv1_replaced_details.4.id_for_label }}">{% trans 'Seat' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.5.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Spring'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Spring' %}>
                                            <label for="{{ form.cv1_replaced_details.5.id_for_label }}">{% trans 'Spring' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.6.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Stem/Guide'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Stem/Guide' %}>
                                            <label for="{{ form.cv1_replaced_details.6.id_for_label }}">{% trans 'Stem/Guide' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.7.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Retainer'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Retainer' %}>
                                            <label for="{{ form.cv1_replaced_details.7.id_for_label }}">{% trans 'Retainer' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.8.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Lock Nuts'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Lock Nuts' %}>
                                            <label for="{{ form.cv1_replaced_details.8.id_for_label }}">{% trans 'Lock Nuts' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv1_replaced_details.9.id_for_label }}"
                                                   name="{{ form.cv1_replaced_details.name }}"
                                                   value="{{ 'Other'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv1_replaced_details 'Other' %}>
                                            <label for="{{ form.cv1_replaced_details.9.id_for_label }}">{% trans 'Other' %}</label>
                                        </li>
                                    </ul>
                                    {{ form.cv1_replaced_details.errors }}
                                </div>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES %}
                            <td>
                                {% render_radiobuttons form.rv_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul">
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.0.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Rubber Parts Kit'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Rubber Parts Kit' %}>
                                            <label for="{{ form.rv_replaced_details.0.id_for_label }}">{% trans 'Rubber Parts Kit' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.1.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'R.V. Assembly'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'R.V. Assembly' %}>
                                            <label for="{{ form.rv_replaced_details.1.id_for_label }}">{% trans 'R.V. Assembly' %}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.2.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Disk'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Disk' %}>
                                            <label for="{{ form.rv_replaced_details.2.id_for_label }}">{% trans 'Disk' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.3.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Diaphragm(s)'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Diaphragm(s)' %}>
                                            <label for="{{ form.rv_replaced_details.3.id_for_label }}">{% trans 'Diaphragm(s)' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.4.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Seat'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Seat' %}>
                                            <label for="{{ form.rv_replaced_details.4.id_for_label }}">{% trans 'Seat' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.5.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Spring'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Spring' %}>
                                            <label for="{{ form.rv_replaced_details.5.id_for_label }}">{% trans 'Spring' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.6.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Guide'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Guide' %}>
                                            <label for="{{ form.rv_replaced_details.6.id_for_label }}">{% trans 'Guide' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.7.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'O-Rings'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'O-Rings' %}>
                                            <label for="{{ form.rv_replaced_details.7.id_for_label }}">{% trans 'O-Rings' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.rv_replaced_details.8.id_for_label }}"
                                                   name="{{ form.rv_replaced_details.name }}"
                                                   value="{{ 'Other'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.rv_replaced_details 'Other' %}>
                                            <label for="{{ form.rv_replaced_details.8.id_for_label }}">{% trans 'Other' %}</label>
                                        </li>
                                    </ul>
                                    {{ form.rv_replaced_details.errors }}
                                </div>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                {% render_radiobuttons form.cv2_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul">
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.0.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Rubber Parts Kit'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Rubber Parts Kit' %}>
                                            <label for="{{ form.cv2_replaced_details.0.id_for_label }}">{% trans 'Rubber Parts Kit' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.1.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'C.V. Assembly'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'C.V. Assembly' %}>
                                            <label for="{{ form.cv2_replaced_details.1.id_for_label }}">{% trans 'C.V. Assembly' %}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.2.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Disk'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Disk' %}>
                                            <label for="{{ form.cv2_replaced_details.2.id_for_label }}">{% trans 'Disk' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.3.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'O-Rings'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'O-Rings' %}>
                                            <label for="{{ form.cv2_replaced_details.3.id_for_label }}">{% trans 'O-Rings' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.4.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Seat'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Seat' %}>
                                            <label for="{{ form.cv2_replaced_details.4.id_for_label }}">{% trans 'Seat' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.5.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Spring'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Spring' %}>
                                            <label for="{{ form.cv2_replaced_details.5.id_for_label }}">{% trans 'Spring' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.6.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Stem/Guide'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Stem/Guide' %}>
                                            <label for="{{ form.cv2_replaced_details.6.id_for_label }}">{% trans 'Stem/Guide' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.7.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Retainer'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Retainer' %}>
                                            <label for="{{ form.cv2_replaced_details.7.id_for_label }}">{% trans 'Retainer' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.8.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Lock Nuts'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Lock Nuts' %}>
                                            <label for="{{ form.cv2_replaced_details.8.id_for_label }}">{% trans 'Lock Nuts' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.cv2_replaced_details.9.id_for_label }}"
                                                   name="{{ form.cv2_replaced_details.name }}"
                                                   value="{{ 'Other'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.cv2_replaced_details 'Other' %}>
                                            <label for="{{ form.cv2_replaced_details.9.id_for_label }}">{% trans 'Other' %}</label>
                                        </li>
                                    </ul>
                                    {{ form.cv2_replaced_details.errors }}
                                </div>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                {% render_radiobuttons form.pvb_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul">
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.0.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Rubber Parts Kit'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Rubber Parts Kit' %}>
                                            <label for="{{ form.pvb_replaced_details.0.id_for_label }}">{% trans 'Rubber Parts Kit' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.1.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'R.V. Assembly'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'R.V. Assembly' %}>
                                            <label for="{{ form.pvb_replaced_details.1.id_for_label }}">{% trans 'R.V. Assembly' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.2.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Disk Air Inlet'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Disk Air Inlet' %}>
                                            <label for="{{ form.pvb_replaced_details.2.id_for_label }}">{% trans 'Disk Air Inlet' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.3.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Disk, Check Valve'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Disk, Check Valve' %}>
                                            <label for="{{ form.pvb_replaced_details.3.id_for_label }}">{% trans 'Disk, Check Valve' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.4.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Seat, Check Valve'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Seat, Check Valve' %}>
                                            <label for="{{ form.pvb_replaced_details.4.id_for_label }}">{% trans 'Seat, Check Valve' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.5.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Spring, Air Inlet'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Spring, Air Inlet' %}>
                                            <label for="{{ form.pvb_replaced_details.5.id_for_label }}">{% trans 'Spring, Air Inlet' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.6.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Spring, Check Valve'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Spring, Check Valve' %}>
                                            <label for="{{ form.pvb_replaced_details.6.id_for_label }}">{% trans 'Spring, Check Valve' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.7.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Guide'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Guide' %}>
                                            <label for="{{ form.pvb_replaced_details.7.id_for_label }}">{% trans 'Guide' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.8.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'O-Rings'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'O-Rings' %}>
                                            <label for="{{ form.pvb_replaced_details.8.id_for_label }}">{% trans 'O-Rings' %}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="{{ form.pvb_replaced_details.9.id_for_label }}"
                                                   name="{{ form.pvb_replaced_details.name }}"
                                                   value="{{ 'Other'|detail_pk_by_name }}"
                                                    {% is_detail_checked form.instance.pvb_replaced_details 'Other' %}>
                                            <label for="{{ form.pvb_replaced_details.9.id_for_label }}">{% trans 'Other' %}</label>
                                        </li>
                                    </ul>
                                    {{ form.pvb_replaced_details.errors }}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Gauge pressure accross' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv1_maintenance_pressure.errors }}
                                    {{ form.cv1_maintenance_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Relief valve opened at' %}
                                </p>

                                <p>
                                    {{ form.rv_psi2.errors }}
                                    {{ form.rv_psi2|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.RP_TYPES or hazard.bp_type_required in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Gauge pressure accross' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv2_maintenance_pressure.errors }}
                                    {{ form.cv2_maintenance_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if hazard.bp_type_required in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Air Inlet' %}
                                    {{ form.air_inlet_retest_psi.errors }}
                                    {{ form.air_inlet_retest_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv_retest_psi.errors }}
                                    {{ form.cv_retest_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <div class="uk-grid">
                    <div class="uk-width-1-5">
                        <h4 class="inline-block">{% trans 'The Assembly' %}:</h4>
                    </div>
                    {% for test_result in form.test_result %}
                        <div class="uk-width-1-5">
                            {{ test_result.tag }} <label for="{{ test_result.id_for_label }}"><span class="test-result-choices">{{ test_result.choice_label }}</span></label>
                        </div>
                    {% endfor %}
                </div>
                <div class="uk-grid margin-top-0">
                    <div class="uk-width-1-5"></div>
                    <div class="uk-width-1-5">
                        {{ form.test_result.errors }}
                    </div>
                </div>
                <h4 class="uk-text-uppercase uk-text-bold">{% trans 'Note: All repairs/replacement shall be completed within five (5) days.' %}</h4>

                <div class="uk-grid">
                    <div class="uk-width-1-6">{% trans 'Remarks' %}:</div>
                    <div class="uk-width-5-6">{{ form.notes|add_class:'uk-width-1-1'|attr:'rows:5' }}</div>
                </div>
                <p>{% trans 'I hereby certify that this data is accurate and reflects the proper operation and maintenance of the backflow preventer unit.' %}</p>

                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Tester' %}: </p>
                    <span class="inline-width-1-6" class="border-none">{{ form.tester }}</span>

                    <p class="inline-width-1-6">{% trans 'Date' %}</p>
                    <span class="inline-width-1-6">
                        {{ form.test_date|attr:"data-uk-datepicker:{format:'YYYY-MM-DD'}" }}
                        {{ form.test_date.errors }}
                    </span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Certification Number' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ object.tester.employee.cert_number }}</span>
                </div>

                <button type="submit" class="uk-button uk-button-primary uk-float-right margin-top-20">{% trans "Submit" %}</button>
                <div class="uk-clearfix"></div>
                {% if not object %}
                    <p class="uk-float-right uk-text-right">
                        {% url 'webapp:unpaid_test_list' as unpaid_test_list_url %}
                        {% blocktrans %}
                            After submitting form you will be asked to save the test.<br>
                            You can save it immediately or later from <a href="{{ unpaid_test_list_url }}" target="_blank">"Unsaved Tests"</a> page
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
    {% if test_for_payment_pk %}
        {% include 'test/test_payment_modal.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {% if test_for_payment_pk %}
        <script src="{% static 'js/custom/paypal.js' %}"></script>
        <script>
            var tests = [{{ test_for_payment_pk }}];
        </script>
        <script src="{% static 'js/custom/payment-after-creation.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/custom/non-clickable-checkbox.js' %}"></script>
    <script>
        var checkboxChangedTrigger = function (checkbox, input) {
            if (checkbox.is(':checked')) {
                input.attr('disabled', true);
            } else {
                input.removeAttr('disabled');
            }
        };

        var listenCheckbox = function (checkbox, input) {
            checkboxChangedTrigger(checkbox, input);
            checkbox.change(function () {
                checkboxChangedTrigger(checkbox, input)
            });
        };

        var radioChangedTrigger = function (radio, checkboxes) {
            if (radio.filter(':checked').val() == 'True') {
                checkboxes.attr('disabled', true);
            } else {
                checkboxes.removeAttr('disabled');
            }
        };

        var listenRadio = function (radio, checkboxes) {
            radioChangedTrigger(radio, checkboxes);
            radio.change(function () {
                radioChangedTrigger(radio, checkboxes);
            });
        };

        var contradictionsChangedTrigger = function (currentGroup, anotherGroup) {

        };

        var listenContradictions = function (group1, group2) {

            group1.change(function () {
                contradictionsChangedTrigger(group1, group2);
            });
            group2.change(function () {
                contradictionsChangedTrigger(group2, group1);
            });
        };

        $(document).ready(function () {
            listenCheckbox($('input[name="rv_did_not_open"]'), $('input[name="rv_psi1"]'));
            listenCheckbox($('input[name="air_inlet_did_not_open"]'), $('input[name="air_inlet_psi"]'));
            listenCheckbox($('input[name="cv_leaked"]'), $('input[name="cv_held_pressure"]'));
            listenRadio($('input[name="cv1_cleaned"]'), $('input[name="cv1_replaced_details"]'));
            listenRadio($('input[name="rv_cleaned"]'), $('input[name="rv_replaced_details"]'));
            listenRadio($('input[name="cv2_cleaned"]'), $('input[name="cv2_replaced_details"]'));
            listenRadio($('input[name="pvb_cleaned"]'), $('input[name="pvb_replaced_details"]'));

            $('[data-content="decimal-field"]').keyup(function () {
                var $this = $(this);
                var value = $this.val();
                console.log(value);
                var regexForValidation = /^(\d+\.?\d?)$/;
                if (!regexForValidation.test(value)) {
                    var regexForStripping = /^(\d+\.?\d?)/;
                    try {
                        $this.val(regexForStripping.exec(value)[1])
                    }
                    catch (e) {
                        $this.val('');
                    }
                }
            });

        });
    </script>
{% endblock %}