{% extends 'base.html' %}
{% load i18n widget_tweaks staticfiles test_form_helper form_helper %}
{% block menu %}
    {% if object %}
        <li><a href="{% url 'webapp:test_detail' object.pk %}">{% trans "Cancel" %}</a></li>
    {% else %}
        <li><a href="{% url 'webapp:hazard_detail' hazard.pk %}">{% trans "Cancel" %}</a></li>
    {% endif %}
{% endblock %}
{% block styles %}
    <style>
        ul.errorlist {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <div class="test-report-wrapper">
            <h3 class="uk-text-uppercase uk-text-center uk-text-bold">{% trans 'Test and Maintenance report' %}</h3>

            <p class="uk-text-uppercase uk-text-center">{% trans 'Backflow Prevention Assemblies' %}</p>

            <form class="uk-form" method="post" name="test">
                {% csrf_token %}
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Customer' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.cust_name }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Street Address' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.address1 }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Mailing Address' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ hazard.site.cust_address1 }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Location of Assembly' %}: </p>
                    <span class="inline-width-4-5 border-bottom">{{ bp_device.assembly_location }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-5">{% trans 'Assembly Type' %}: </p>
                    <span class="inline-width-3-5">{% render_bp_type_checkboxes bp_device.bp_type_present %}</span>

                    <p class="inline-width-1-15">{% trans 'Size' %}: </p>
                    <span class="inline-width-2-15 border-bottom">{{ bp_device.bp_size }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Manufacturer' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ bp_device.manufacturer }}</span>

                    <p class="inline-width-1-6">{% trans 'Model no.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ bp_device.model_no }}</span>

                    <p class="inline-width-1-6">{% trans 'Serial no.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ bp_device.serial_no }}</span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Test Kit Manuf.' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ object.test_kit.test_manufacturer }}</span>

                    <p class="inline-width-1-6">{% trans 'Serial Number' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ object.test_kit.test_serial }}</span>

                    <p class="inline-width-1-6">{% trans 'Date Calibrated' %}: </p>
                    <span class="inline-width-1-6 border-bottom">{{ object.test_kit.test_last_cert }}</span>
                </div>

                <table class="uk-table border-all uk-table-condensed">
                    <thead>
                    <tr>
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Check Valve #1' %}
                            </th>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Relief Valve' %}
                            </th>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Check Valve #2' %}
                            </th>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                            <th class="uk-width-1-4 uk-text-center">
                                {% trans 'Pressure Vacuum Breaker' %}
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                        <tr>
                            {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES %}
                                <td>
                                    {% render_radiobuttons form.cv1_leaked %}
                                </td>
                                <td>
                                    <p class="rv_psi1">
                                        {% trans 'Opened at' %}
                                        {{ form.rv_psi1.errors }}
                                        {{ form.rv_psi1|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                        {% trans 'psi' %}
                                    </p>

                                    <p>{% trans 'Did not open' %} {{ form.rv_did_not_open }}</p>

                                    <p>{{ form.rv_did_not_open.errors }}</p>
                                </td>
                                <td>
                                    {% render_radiobuttons form.cv2_leaked %}
                                </td>
                            {% endif %}
                            {% if bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                                <td>
                                    <p>{% trans 'Air Inlet: Did not open' %} {{ form.air_inlet_did_not_open }}</p>

                                    <p class="air_inlet_psi">
                                        {% trans 'Opened at' %}
                                        {{ form.air_inlet_psi.errors }}
                                        {{ form.air_inlet_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                        {% trans 'psi' %}
                                    </p>

                                    <p>
                                        {{ form.air_inlet_did_not_open.errors }}
                                    </p>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>{% trans 'Gauge pressure across' %}</p>

                                <p class="cv1_gauge_pressure">
                                    {% trans 'Check valve' %}
                                    {{ form.cv1_gauge_pressure.errors }}
                                    {{ form.cv1_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES %}
                            <td>
                                <p>{% trans 'Outlet shut-off Valve' %}</p>
                                {% render_radiobuttons form.outlet_sov_leaked %}
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>{% trans 'Gauge pressure across' %}</p>

                                <p class="cv2_gauge_pressure">
                                    {% trans 'Check valve' %}
                                    {{ form.cv2_gauge_pressure.errors }}
                                    {{ form.cv2_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                <p>{% trans 'Check Valve: Leaked' %} {{ form.cv_leaked }}</p>

                                <p class="cv_held_pressure">
                                    {% trans 'Or held at' %}
                                    {{ form.cv_held_pressure.errors }}
                                    {{ form.cv_held_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>

                                <p>
                                    {{ form.cv_leaked.errors }}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                {% render_radiobuttons form.cv1_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul" data-content="cv1_details">
                                        <li>
                                            {{ form.cv1_detail_rubber_parts_kit }}
                                            <label for="{{ form.cv1_detail_rubber_parts_kit.id_for_label }}">{{ form.cv1_detail_rubber_parts_kit.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_cv_assembly }}
                                            <label for="{{ form.cv1_detail_cv_assembly.id_for_label }}">{{ form.cv1_detail_cv_assembly.label }}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            {{ form.cv1_detail_disk }}
                                            <label for="{{ form.cv1_detail_disk.id_for_label }}">{{ form.cv1_detail_disk.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_o_rings }}
                                            <label for="{{ form.cv1_detail_o_rings.id_for_label }}">{{ form.cv1_detail_o_rings.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_seat }}
                                            <label for="{{ form.cv1_detail_seat.id_for_label }}">{{ form.cv1_detail_seat.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_spring }}
                                            <label for="{{ form.cv1_detail_spring.id_for_label }}">{{ form.cv1_detail_spring.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_stem_guide }}
                                            <label for="{{ form.cv1_detail_stem_guide.id_for_label }}">{{ form.cv1_detail_stem_guide.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_retainer }}
                                            <label for="{{ form.cv1_detail_retainer.id_for_label }}">{{ form.cv1_detail_retainer.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_lock_nuts }}
                                            <label for="{{ form.cv1_detail_lock_nuts.id_for_label }}">{{ form.cv1_detail_lock_nuts.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv1_detail_other }}
                                            <label for="{{ form.cv1_detail_other.id_for_label }}">{{ form.cv1_detail_other.label }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES %}
                            <td>
                                {% render_radiobuttons form.rv_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul" data-content="rv_details">
                                        <li>
                                            {{ form.rv_detail_rubber_parts_kit }}
                                            <label for="{{ form.rv_detail_rubber_parts_kit.id_for_label }}">{{ form.rv_detail_rubber_parts_kit.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_rv_assembly }}
                                            <label for="{{ form.rv_detail_rv_assembly.id_for_label }}">{{ form.rv_detail_rv_assembly.label }}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            {{ form.rv_detail_disk }}
                                            <label for="{{ form.rv_detail_disk.id_for_label }}">{{ form.rv_detail_disk.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_diaphragms }}
                                            <label for="{{ form.rv_detail_diaphragms.id_for_label }}">{{ form.rv_detail_diaphragms.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_seat }}
                                            <label for="{{ form.rv_detail_seat.id_for_label }}">{{ form.rv_detail_seat.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_spring }}
                                            <label for="{{ form.rv_detail_spring.id_for_label }}">{{ form.rv_detail_spring.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_guide }}
                                            <label for="{{ form.rv_detail_guide.id_for_label }}">{{ form.rv_detail_guide.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_o_rings }}
                                            <label for="{{ form.rv_detail_o_rings.id_for_label }}">{{ form.rv_detail_o_rings.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.rv_detail_other }}
                                            <label for="{{ form.rv_detail_other.id_for_label }}">{{ form.rv_detail_other.label }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                {% render_radiobuttons form.cv2_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul" data-content="cv2_details">
                                        <li>
                                            {{ form.cv2_detail_rubber_parts_kit }}
                                            <label for="{{ form.cv2_detail_rubber_parts_kit.id_for_label }}">{{ form.cv2_detail_rubber_parts_kit.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_cv_assembly }}
                                            <label for="{{ form.cv2_detail_cv_assembly.id_for_label }}">{{ form.cv2_detail_cv_assembly.label }}</label>
                                        </li>
                                        <li class="uk-text-center">{% trans 'OR' %}</li>
                                        <li>
                                            {{ form.cv2_detail_disk }}
                                            <label for="{{ form.cv2_detail_disk.id_for_label }}">{{ form.cv2_detail_disk.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_o_rings }}
                                            <label for="{{ form.cv2_detail_o_rings.id_for_label }}">{{ form.cv2_detail_o_rings.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_seat }}
                                            <label for="{{ form.cv2_detail_seat.id_for_label }}">{{ form.cv2_detail_seat.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_spring }}
                                            <label for="{{ form.cv2_detail_spring.id_for_label }}">{{ form.cv2_detail_spring.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_stem_guide }}
                                            <label for="{{ form.cv2_detail_stem_guide.id_for_label }}">{{ form.cv2_detail_stem_guide.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_retainer }}
                                            <label for="{{ form.cv2_detail_retainer.id_for_label }}">{{ form.cv2_detail_retainer.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_lock_nuts }}
                                            <label for="{{ form.cv2_detail_lock_nuts.id_for_label }}">{{ form.cv2_detail_lock_nuts.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.cv2_detail_other }}
                                            <label for="{{ form.cv2_detail_other.id_for_label }}">{{ form.cv2_detail_other.label }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                {% render_radiobuttons form.pvb_cleaned %}
                                <div class="second-level-ul">
                                    <ul class="test-form-ul" data-content="pvb_details">
                                        <li>
                                            {{ form.pvb_detail_rubber_parts_kit }}
                                            <label for="{{ form.pvb_detail_rubber_parts_kit.id_for_label }}">{{ form.pvb_detail_rubber_parts_kit.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_rv_assembly }}
                                            <label for="{{ form.pvb_detail_rv_assembly.id_for_label }}">{{ form.pvb_detail_rv_assembly.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_disk_air_inlet }}
                                            <label for="{{ form.pvb_detail_disk_air_inlet.id_for_label }}">{{ form.pvb_detail_disk_air_inlet.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_disk_check_valve }}
                                            <label for="{{ form.pvb_detail_disk_check_valve.id_for_label }}">{{ form.pvb_detail_disk_check_valve.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_seat_check_valve }}
                                            <label for="{{ form.pvb_detail_seat_check_valve.id_for_label }}">{{ form.pvb_detail_seat_check_valve.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_spring_air_inlet }}
                                            <label for="{{ form.pvb_detail_spring_air_inlet.id_for_label }}">{{ form.pvb_detail_spring_air_inlet.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_spring_check_valve }}
                                            <label for="{{ form.pvb_detail_spring_check_valve.id_for_label }}">{{ form.pvb_detail_spring_check_valve.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_guide }}
                                            <label for="{{ form.pvb_detail_guide.id_for_label }}">{{ form.pvb_detail_guide.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_o_rings }}
                                            <label for="{{ form.pvb_detail_o_rings.id_for_label }}">{{ form.pvb_detail_o_rings.label }}</label>
                                        </li>
                                        <li>
                                            {{ form.pvb_detail_other }}
                                            <label for="{{ form.pvb_detail_other.id_for_label }}">{{ form.pvb_detail_other.label }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Gauge pressure across' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv1_retest_gauge_pressure.errors }}
                                    {{ form.cv1_retest_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Relief valve opened at' %}
                                </p>

                                <p>
                                    {{ form.rv_psi2.errors }}
                                    {{ form.rv_psi2|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.RP_TYPES or bp_device.bp_type_present in BP_TYPE.DC_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Gauge pressure across' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv2_retest_gauge_pressure.errors }}
                                    {{ form.cv2_retest_gauge_pressure|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                        {% if bp_device.bp_type_present in BP_TYPE.STANDALONE_TYPES %}
                            <td>
                                <p>
                                    {% trans 'Air Inlet' %}
                                    {{ form.air_inlet_retest_psi.errors }}
                                    {{ form.air_inlet_retest_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>

                                <p>
                                    {% trans 'Check valve' %}
                                    {{ form.cv_retest_psi.errors }}
                                    {{ form.cv_retest_psi|add_class:'uk-form-small'|attr:'data-content:decimal-field'|attr:'type:text' }}
                                    {% trans 'psi' %}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <div class="uk-grid">
                    <div class="uk-width-1-5">
                        <h4 class="inline-block">{% trans 'The Assembly' %}:</h4>
                    </div>
                    {% for test_result in form.test_result %}
                        <div class="uk-width-1-5">
                            {{ test_result.tag }} <label for="{{ test_result.id_for_label }}"><span class="test-result-choices">{{ test_result.choice_label }}</span></label>
                        </div>
                    {% endfor %}
                </div>
                <div class="uk-grid margin-top-0">
                    <div class="uk-width-1-5">
                        {{ form.test_result.errors }}
                    </div>
                </div>
                <h4 class="uk-text-uppercase uk-text-bold">{% trans 'Note: All repairs/replacement shall be completed within five (5) days.' %}</h4>

                <div class="uk-grid">
                    <div class="uk-width-1-6">{% trans 'Remarks' %}:</div>
                    <div class="uk-width-5-6">{{ form.notes|add_class:'uk-width-1-1'|attr:'rows:5' }}</div>
                </div>
                <p>{% trans 'I hereby certify that this data is accurate and reflects the proper operation and maintenance of the backflow preventer unit.' %}</p>

                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Tester' %}: </p>
                    <span class="inline-width-1-6" class="border-none">{{ form.tester }}</span>

                    <p class="inline-width-1-6">{% trans 'Date' %}: </p>
                    <span class="inline-width-1-6">
                        {{ form.test_date.errors }}
                        {{ form.test_date|attr:"data-uk-datepicker:{format:'YYYY-MM-DD'}" }}
                    </span>
                </div>
                <div class="uk-width-1-1">
                    <p class="inline-width-1-6">{% trans 'Certification Number' %}: </p>
                    <span class="inline-width-1-6">
                        {{ form.tester_cert.errors }}
                        {{ form.tester_cert|add_class:"uk-width-1-1" }}
                    </span>
                    <p class="inline-width-1-6">{% trans 'Test Kit Used' %}: </p>
                    <span class="inline-width-1-6">
                        {{ form.test_kit.errors }}
                        {{ form.test_kit|add_class:"uk-width-1-1" }}
                    </span>
                </div>

                <button type="submit" class="uk-button uk-button-primary uk-float-right margin-top-20">{% trans "Submit" %}</button>
                <div class="uk-clearfix"></div>
                {% if not object %}
                    <p class="uk-float-right uk-text-right">
                        {% url 'webapp:unpaid_test_list' as unpaid_test_list_url %}
                        {% blocktrans %}
                            After submitting form you will be asked to save the test.<br>
                            You can save it immediately or later from <a href="{{ unpaid_test_list_url }}" target="_blank">"Unsaved Tests"</a> page
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
    {% if test_for_payment_pk %}
        {% include 'test/test_payment_modal.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {% if test_for_payment_pk %}
        <script src="{% static 'js/custom/paypal.js' %}"></script>
        <script>
            var tests = [{{ test_for_payment_pk }}];
        </script>
        <script src="{% static 'js/custom/payment-after-creation.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/custom/non-clickable-checkbox.js' %}"></script>
    <script>
        var checkboxChangedTrigger = function (checkbox, input) {
            if (checkbox.is(':checked')) {
                input.attr('disabled', true);
            } else {
                input.removeAttr('disabled');
            }
        };

        var listenCheckbox = function (checkbox, input) {
            checkboxChangedTrigger(checkbox, input);
            checkbox.change(function () {
                checkboxChangedTrigger(checkbox, input)
            });
        };

        var radioChangedTrigger = function (radio, checkboxes) {
            if (radio.filter(':checked').val() == '2') {
                checkboxes.removeAttr('disabled');
            } else {
                checkboxes.attr('disabled', true);
            }
        };

        var listenRadio = function (radio, checkboxes) {
            radioChangedTrigger(radio, checkboxes);
            radio.change(function () {
                radioChangedTrigger(radio, checkboxes);
            });
        };

        var contradictionsChangedTrigger = function (currentGroup, anotherGroup) {

        };

        var listenContradictions = function (group1, group2) {

            group1.change(function () {
                contradictionsChangedTrigger(group1, group2);
            });
            group2.change(function () {
                contradictionsChangedTrigger(group2, group1);
            });
        };

        var selectedTesterChanged = function(){
            tester_id = $("#id_tester").val();
            var empty_option = $('<option value="">---------</option>');
            $.get("/get_test_kits/" + tester_id, function(data){
                var optionsAsString = "";
                $.each(data, function(key, value){
                    optionsAsString += "<option value='" + key + "'>" + value + "</option>";
                });
                $('#id_test_kit').find('option').remove().end().append(empty_option).append($(optionsAsString));
            });
            $.get("/get_tester_certs/" + tester_id, function(data){
                var optionsAsString = "";
                var empty_option = $('<option value="">---------</option>');
                $.each(data, function(key, value){
                    optionsAsString += "<option value='" + key + "'>" + value + "</option>";
                });
                $('#id_tester_cert').find('option').remove().end().append(empty_option).append($(optionsAsString));
            });
        };

        $(document).ready(function () {
            listenCheckbox($('input[name="rv_did_not_open"]'), $('input[name="rv_psi1"]'));
            listenCheckbox($('input[name="air_inlet_did_not_open"]'), $('input[name="air_inlet_psi"]'));
            listenCheckbox($('input[name="cv_leaked"]'), $('input[name="cv_held_pressure"]'));
            listenRadio($('input[name="cv1_cleaned"]'), $('[data-content="cv1_details"]').find('input[type="checkbox"]'));
            listenRadio($('input[name="rv_cleaned"]'), $('[data-content="rv_details"]').find('input[type="checkbox"]'));
            listenRadio($('input[name="cv2_cleaned"]'), $('[data-content="cv2_details"]').find('input[type="checkbox"]'));
            listenRadio($('input[name="pvb_cleaned"]'), $('[data-content="pvb_details"]').find('input[type="checkbox"]'));

            $('[data-content="decimal-field"]').keyup(function () {
                var $this = $(this);
                var value = $this.val();
                var regexForValidation = /^(\d+\.?\d?)$/;
                if (!regexForValidation.test(value)) {
                    var regexForStripping = /^(\d+\.?\d?)/;
                    try {
                        $this.val(regexForStripping.exec(value)[1])
                    }
                    catch (e) {
                        $this.val('');
                    }
                }
            });

            $('#id_tester').change(selectedTesterChanged);
            selectedTesterChanged();
        });
    </script>
{% endblock %}