{% load i18n %}
{% load boolean_yes_no %}
{% load valve_leaked_choices %}
{% load valve_opened_choices %}
{% load test_result_choices %}
<div class="wrapper">
    {% if perms.webapp.add_test %}
            <div class="padding-top-10">
                <a class="uk-align-center uk-text-center" href="{% url 'webapp:test_add' hazard.pk %}" id="hazard_{{ hazard.pk }}_test_add_link">
                    <i class="uk-icon-plus"></i> {% trans "Add Test" %}
                </a>
            </div>
    {% endif %}
    {% if hazard.paid_tests %}
        {% for test in hazard.paid_tests %}
            <div class="padding-top-10">
                <h4 class="uk-align-center uk-text-center">
                    {{ test.test_date }}, {{ test.test_result|test_result }}
                    <a href="{% url "webapp:test_detail" test.pk %}" id="test_{{ test.pk }}_detail_link">({% trans "View" %})</a>
                    <a href="{% url "webapp:test_edit" test.pk %}" id="test_{{ test.pk }}_edit_link">({% trans "Edit" %})</a>
                </h4>
            </div>
        {% endfor %}
        {% if perms.webapp.add_test %}
            <div class="padding-top-10">
                <a class="uk-align-center uk-text-center" href="{% url 'webapp:test_add' hazard.pk %}">
                    <i class="uk-icon-plus"></i> {% trans "Add Test" %}
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>