{% extends 'base.html' %}
{% load i18n %}
{% load boolean_yes_no %}
{% load valve_leaked_choices %}
{% load valve_opened_choices %}
{% load test_result_choices %}
{% load pagination_tags %}
{% block content %}
    {% autopaginate test_filter.qs as unpaid_tests 50 %}
    <div class="wrapper">
        {% include 'messages.html' %}
    </div>
    <div class="uk-grid">
        <div class="wrapper uk-width-1-5">
            {% include 'test/test_filters.html' %}
        </div>
        <div class="wrapper uk-width-4-5">
            {% paginate %}
            <table class="uk-table uk-table-hover">
                <thead>
                <tr class="border-bottom">
                    <th class="border-right uk-text-center uk-width-1-10">
                        {% trans "No." %}
                    </th>
                    <th>
                        {% trans "PWS" %}
                    </th>
                    <th>
                        {% trans "Customer Account" %}
                    </th>
                    <th>
                        {% trans "Site City" %}
                    </th>
                    <th>
                        {% trans "Service Address" %}
                    </th>
                    <th>
                        {% trans "Service Type" %}
                    </th>
                    <th>
                        {% trans "Hazard Type" %}
                    </th>
                    <th>
                        {% trans "BP Type" %}
                    </th>
                    <th>
                        {% trans "Test Date" %}
                    </th>
                    <th>
                        {% trans "Tester" %}
                    </th>
                    <th>
                        {% trans "Test Result" %}
                    </th>
                    <th class="uk-text-center border-left uk-width-1-10" colspan="2">
                        {% trans "Actions" %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for test in unpaid_tests %}
                    <tr>
                        <td class="uk-text-center border-right">
                            {{ test.pk }}
                        </td>
                        <td>
                            {{ test.bp_device.site.pws.number }}
                        </td>
                        <td>
                            {{ test.bp_device.site.cust_number }}
                        </td>
                        <td>
                            {{ test.bp_device.site.city }}
                        </td>
                        <td>
                            {{ test.bp_device.site.address1 }}
                        </td>
                        <td>
                            {{ test.bp_device.service_type }}
                        </td>
                        <td>
                            {{ test.bp_device.hazard_type }}
                        </td>
                        <td>
                            {{ test.bp_device.bp_type_present }}
                        </td>
                        <td>
                            {{ test.test_date }}
                        </td>
                        <td>
                            {{ test.tester }}
                        </td>
                        <td>
                            {{ test.test_result|test_result }}
                        </td>
                        <td class="border-left uk-text-center">
                            <a href="{% url "webapp:test_edit" test.pk %}" id="test_{{ test.pk }}_edit_link">
                                {% trans "Detail" %}
                            </a>
                        </td>
                        <td class="uk-text-center">
                            <a href="#pay-modal" data-uk-modal data-test-pk="{{ test.pk }}" data-action="pay">
                                {% trans 'Pay' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        </div>
    </div>
    <div id="pay-modal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <ul class="uk-tab payment-types" data-uk-tab data-uk-switcher="{connect:'#tabs-content'}">
                <li class="uk-width-1-2"><a>{% trans "Pay via Paypal account" %}</a></li>
                <li class="uk-width-1-2"><a>{% trans "Pay directly via Credit Card" %}</a></li>
            </ul>

            <ul id="tabs-content" class="uk-switcher">
                <li>
                    <div data-content="errors" class="hidden">
                        <ul class="errorlist"></ul>
                    </div>
                    <div data-content="step-1">
                        <h3>{% trans 'Step' %} 1</h3>
                        <a data-content="paypal-payment-creation-link">{% trans 'Click here to create a payment' %}</a>
                    </div>
                    <div data-content="step-2" class="hidden">
                        <h3>{% trans 'Step' %} 2</h3>
                        <a data-content="paypal-approval-link">{% trans 'Click here to confirm payment on PayPal site' %}</a>
                    </div>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var url = '{% url 'webapp:test_pay_paypal' 0 %}';
        $(document).ready(function () {


            $('[data-action="pay"]').click(function () {
                var test_pk = $(this).data('test-pk');
                var actual_url = url.replace(0, test_pk);
                $('a[data-content="paypal-payment-creation-link"]').attr('href', actual_url);
            });

            $('a[data-content="paypal-payment-creation-link"]').click(function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                $.ajax(url, {
                    method: 'post',
                    success: function (response) {
                        if (response.status == 'success') {
                            $('[data-content="step-1"]').hide();
                            $('[data-content="errors"]').hide();
                            $('[data-content="step-2"]').show();
                            $('a[data-content="paypal-approval-link"]').attr('href', response.approval_url);
                        } else if (response.status == 'error') {
                            $('[data-content="errors"]')
                                    .show()
                                    .find('ul')
                                    .empty()
                                    .append($('<li>').text(response.message));
                        }
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}