div.wrapper {
    padding: 10px 0 0 20px;
}

.inline-block {
    display: inline-block;
}

.border-none {
    border: none;
}

.margin-top-bottom-20 {
    margin: 20px 0;
}

tr.top-half {
    border: 2px solid #dddddd;
    border-bottom: none;
}

tr.bottom-half {
    border: 2px solid #dddddd;
    border-top: none;
}

.actions-wrapper {
    padding-left: 8px;
    padding-top: 10px;
}

.actions-wrapper li {
    list-style-type: none;
}

.errorlist {
    margin: 0;
    color: #d85030;
}

.padding-top {
    padding-top: 10px;
}

.big-table {
    width: 3500px;
}

.scrollable {
    overflow: scroll;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.table-border-left {
    border-left: solid 1px darkgray
}

.table-border-right {
    border-right: solid 1px darkgray
}

.table-border-bottom {
    border-bottom: solid 1px darkgray
}

.fixed {
    position: fixed;
    background: #ffffff;
    z-index: 10000;
}

.fixed-filters {
    top: 40px;
    left: 0;
    width: 250px;
    height: 100%;
}

.fixed-headers thead tr {
    height: 40px;
}

.fixed-headers thead tr th {
    background-color: #ffffff;
}

.color-coding {
    color: #6c0015;
}

.fixed-navbar {
    position: fixed;
    width: 100%;
    z-index: 1000000;
}

.navbar-hack {
    width: 100%;
    height: 40px;
}

.pagination-wrapper {
    width: 100%;
}

.test-report-wrapper {
    width: 100%;
    margin: 0 auto;
}

.test-report-form-label {
    display: inline-block;
    width: 20%;
}

.test-report-form-label-size {
    display: inline-block;
    width: 5%;
    margin-top: 0;
}

.test-report-form-label-1-3 {
    display: inline-block;
    width: 10%;
    margin-top: 0;
}

.test-report-form-data {
    display: inline-block;
    width: 79%;
    border-bottom: 1px solid #444;
}

.test-report-form-data-1-3 {
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #444;
}

.test-report-form-data-size {
    display: inline-block;
    width: 13%;
    border-bottom: 1px solid #444;
}

.test-report-form-data-bp-types {
    display: inline-block;
    width: 60%;
}

ul.form-ul {
    padding: 0;
}

.form-ul li {
    list-style-type: none;
}

.bordered-all td, .bordered-all th {
    border: 1px solid #a9a9a9;
}

.bordered-left td {
    border-left: 1px solid #a9a9a9;
}

.bordered-right td {
    border-right: 1px solid #a9a9a9;
}

.bordered-top td {
    border-top: 1px solid #a9a9a9;
}

.bordered-bottom td {
    border-bottom: 1px solid #a9a9a9;
}

.not-bordered td {
    border: none
}

.form-ul-label {
    /*display: inline-block;
    width: 130px;*/
}

.second-level-ul {
    padding-left: 20px;
}

.test-result-choices {
    font-size: 20px;
}

.two-columns-list {
    overflow: hidden;
}

.two-columns-list > li {
    list-style-type: none;
    float: left;
    display: inline;
    width: 50%;
    border-bottom: 1px solid darkgray;
    height: 80px;
    padding-top: 20px;
}