div.wrapper {
    padding: 10px 10px 0;
}

tr.top-half {
    border: 2px solid #dddddd;
    border-bottom: none;
}

tr.bottom-half {
    border: 2px solid #dddddd;
    border-top: none;
}

.actions-wrapper {
    padding-left: 8px;
    padding-top: 10px;
}

.actions-wrapper li {
    list-style-type: none;
}

.errorlist {
    margin: 0;
    color: #d85030;
}

.padding-top {
    padding-top: 10px;
}