div.wrapper {
    padding: 10px 5px 10px 5px;
}

em {
    color: inherit;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.spinner-crossbrowser {
    -moz-animation: uk-rotate 2s infinite linear;
    -o-animation: uk-rotate 2s infinite linear;
}

.filters-offset {
    margin-left: 260px;
    padding-top: 10px;
}

.margin-top-bottom-20 {
    margin: 20px 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.uk-grid + .uk-grid.margin-top-0 {
    margin-top: 0;
}

.margin-left-200 {
    margin-left: 200px;
}

.errorlist {
    margin: 0;
    color: #d85030;
    list-style: none;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.big-table {
    width: 4000px;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.border-none, .border-none td, .border-none th {
    border: none;
}

.border-all, .border-all td, .border-all th {
    border: 1px solid #ddd;
}

.border-top, .border-top td, .border-top th {
    border-top: 1px solid #ddd;
}

.border-top-none, .border-top-none td, .border-top-none th {
    border-top: none;
}

.border-left, .border-left td, .border-left th {
    border-left: 1px solid #ddd;
}

.border-left-none, .border-left-none td, .border-left-none th {
    border-left: none;
}

.border-right, .border-right td, .border-right th {
    border-right: 1px solid #ddd;
}

.border-right-none, .border-right-none td, .border-right-none th {
    border-right: none;
}

.border-bottom, .border-bottom td, .border-bottom th {
    border-bottom: 1px solid #ddd;
}

.border-bottom-none, .border-bottom-none td, .border-bottom-none th {
    border-bottom: none;
}

.fixed {
    position: fixed;
    background: #ffffff;
    z-index: 999;
    overflow-y: hidden;
}

.fixed-filters {
    top: 40px;
    left: 0;
    width: 230px;
    height: 100%;
}

#filters-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 16px;
    background: #F0F8FF;

}

.fixed-headers thead tr {
    height: 40px;
}

.fixed-headers thead tr th {
    background-color: #ffffff;
}

.color-coding {
    color: #6c0015;
}

.fixed-navbar {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.navbar-hack {
    width: 100%;
    height: 40px;
}

.pagination-wrapper {
    width: 100%;
}

.test-report-wrapper {
    width: 100%;
    margin: 0 auto;
}

.inline-width-1-5 {
    display: inline-block;
    width: 19%;
}

.inline-width-2-5 {
    display: inline-block;
    width: 39%;
}

.inline-width-3-5 {
    display: inline-block;
    width: 59%;
}

.inline-width-4-5 {
    display: inline-block;
    width: 79%;
}

.inline-width-1-15 {
    display: inline-block;
    width: 6%;
}

.inline-width-2-15 {
    display: inline-block;
    width: 13%;
}

.inline-width-1-3 {
    display: inline-block;
    width: 33%;
}

.inline-width-1-6 {
    display: inline-block;
    width: 13%;
    margin-right: 3%;
}

ul.test-form-ul {
    padding: 0;
}

.test-form-ul li {
    list-style-type: none;
}

.second-level-ul {
    padding-left: 20px;
}

.test-result-choices {
    font-size: 20px;
}

.example-rows-table td, .example-rows-table th {
    font-size: 12px;
    padding: 2px;
}

.paypal-button {
    padding: 0;
    border: none;
    background: transparent;
}

.valign-center-modal-spinner {
    top: auto;
}

.pws_logo {
    max-height: 250px;
}

.filter-button-div {
    width: 100%;
    background-color: #FFF;
    top: 39px;
    /*background: green;*/
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-button {
    margin: 10px 10px 0;
}

.form-blank-label {
    float: right;
    margin-top: 3px;
    padding-right: 5px;
}

.padding-top-40 {
    padding-top: 40px;
}

.logo-garder {
    width: 48px;
}

.my-fixed {
    top: 108px;
    width: 4000px;

}

.my-table-margin {
    margin-top: 168px;

}

#id_is_active {
    visibility: hidden;
}

.demo_trial {
    z-index: 1000;
    text-align: center;
    background-color: #F0F8FF;
    color: #2d7091;
}