{% extends "base.html" %}
{% load i18n staticfiles pagination_tags widget_tweaks %}
{% block menu %}
    <li><a id="invite_tester_link" href="{% url 'webapp:tester_search' %}">{% trans "Invite Tester" %}</a></li>
{% endblock %}
{% block content %}
{% autopaginate tester_filter.qs as filtered_testers 20 %}
<div class="uk-grid">
    {% include 'user/tester_filters.html' %}
    <div class="wrapper uk-width-4-5 filters-offset">
        <div class="wrapper">
            {% include 'messages.html' %}
        </div>
        {% paginate %}
        <table class="uk-table uk-table-hover">
            <thead>
                <tr class="border-bottom">
                    <th class="uk-text-center border-right">
                        {% trans "No." %}
                    </th>
                    <th>
                        {% trans "PWS" %}
                    </th>
                    <th>
                        {% trans "Username" %}
                    </th>
                    <th>
                        {% trans "Name" %}
                    </th>
                    <th>
                        {% trans "Company" %}
                    </th>
                    <th>
                        {% trans "Email" %}
                    </th>
                    <th>
                        {% trans "Certificates" %}
                    </th>
                    <th>
                        {% trans "Test Kits" %}
                    </th>
                    <th class="uk-text-center border-left">
                        {% trans "Actions" %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for tester in filtered_testers %}
                <tr>
                    <td class="uk-text-center border-right">
                        {{ tester.pk }}
                    </td>
                    <td>
                        {% for pws in tester.employee.pws.all %}
                            <p>{{ pws.number }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {{ tester.username }}
                    </td>
                    <td>
                        {{ tester.first_name }} {{ tester.last_name }}
                    </td>
                    <td>
                        {{ tester.employee.company }}
                    </td>
                    <td>
                        {{ tester.email }}
                    </td>
                    <td>
                        {% for cert in tester.certs.all %}
                            <p>{{ cert.cert_number }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for kit in tester.kits.all %}
                            <p>{{ kit.test_serial }}</p>
                        {% endfor %}
                    </td>
                    <td class="uk-text-center border-left">
                        <a href="{% url 'webapp:user_detail' tester.pk %}" id="user_{{ tester.pk }}_detail_link">
                            {% trans "Detail" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% paginate %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/custom/filters-offset.js' %}"></script>
{% endblock %}