{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block menu %}
    <li><a href="{% url 'webapp:tester_list' %}">{% trans "Cancel" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <form class="uk-form" method="post" name="search_tester_form">
            {% csrf_token %}
            <table class="uk-table form-center border-none uk-table-condensed">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.email|add_class:'uk-width-1-1' }}
                        {{ form.email.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.cert_number.id_for_label }}">{{ form.cert_number.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.cert_number|add_class:'uk-width-1-1' }}
                        {{ form.cert_number.errors }}
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="uk-button uk-button-primary uk-align-center" type="submit" name="search_tester">
                {% trans "Search" %}
            </button>
    {% if tester %}
        &nbsp;
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
                <tr class="border-bottom">
                    <td class="uk-text-right uk-text-muted">{% trans "First Name" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.first_name }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Last Name" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.last_name }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "PWS" %}</td>
                    <td class="uk-text-center uk-text-primary">
                        {% for pws in tester.employee.pws.all %}
                            <p>{{ pws.number }}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-muted">{% trans "City" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.city }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "State" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.state }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "ZIP" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.zip }}</td>
                </tr>
                <tr class="border-bottom">
                    <td class="uk-text-right uk-text-muted">{% trans "Address" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.address }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Phone Numbers" %}</td>
                    <td class="uk-text-center uk-text-primary">
                        <p>{{ tester.employee.phone1 }}</p>
                        <p>{{ tester.employee.phone2 }}</p>
                    </td>
                    <td class="uk-text-right uk-text-muted">{% trans "Email" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.email }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-muted">{% trans "Certificate Number" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.cert_number }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Certificate Date" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.cert_date }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Certificate Expires" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.cert_expires }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-muted">{% trans "Test Kit Manufacturer" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.test_manufacturer }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Test Kit Model" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.test_model }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Test Kit Serial" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.test_serial }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-muted">{% trans "Test Kit Last Calibration" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.test_last_cert }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Tester Company" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ tester.employee.company }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if invite_form %}
        &nbsp;
            {% csrf_token %}
            <div class="uk-panel uk-width-1-1 uk-text-center">
                <p>{{ invite_form.pws|add_class:"uk-width-4-6" }}</p>
                <p class="uk-width-4-6">{{ invite_form.pws.errors }}</p>
                <p><button class="uk-button uk-button-primary" type="submit" name="invite_tester">
                    {% trans "Invite" %}
                </button></p>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}