{% load i18n widget_tweaks %}
<form action="" method="get" name="tester_filter" class="uk-form">
    <div class="fixed fixed-filters">
        <div id="filters-scroll">
            <table class="uk-table border-none">
            <thead>
            <tr class="border-bottom">
                <th class="uk-text-center uk-text-large uk-text-primary">
                    {% trans "Filters" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% if perms.webapp.access_to_all_users %}
                <tr class="uk-text-center">
                    <td>
                        {{ tester_filter.form.pws.label }}
                        {{ tester_filter.form.pws|add_class:"uk-width-1-1" }}
                    </td>
                </tr>
            {% endif %}
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.username.label }}
                    {{ tester_filter.form.username|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.name.label }}
                    {{ tester_filter.form.name|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.company.label }}
                    {{ tester_filter.form.company|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.cert_number.label }}
                    {{ tester_filter.form.cert_number|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.cert_active.label }}
                    {{ tester_filter.form.cert_active|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.test_manufacturer.label }}
                    {{ tester_filter.form.test_manufacturer|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.test_model.label }}
                    {{ tester_filter.form.test_model|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.test_serial.label }}
                    {{ tester_filter.form.test_serial|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr class="uk-text-center">
                <td>
                    {{ tester_filter.form.test_last_cert.label }}
                    {{ tester_filter.form.test_last_cert|add_class:"uk-width-1-1" }}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="uk-button uk-button-primary uk-align-center" type="submit">
                        {% trans "Apply Filters" %}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</form>