{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block menu %}
    <li><a href="{% url 'webapp:user_list' %}">{% trans "Cancel" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <form class="uk-form" method="post" name="user">
            {% csrf_token %}
            <table class="uk-table form-center border-none uk-table-condensed">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.username|add_class:'uk-width-1-1' }}
                        {{ user_form.username.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.email.id_for_label }}">{{ user_form.email.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.email|add_class:'uk-width-1-1' }}
                        {{ user_form.email.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.first_name|add_class:'uk-width-1-1' }}
                        {{ user_form.first_name.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.last_name|add_class:'uk-width-1-1' }}
                        {{ user_form.last_name.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.password1.id_for_label }}">{{ user_form.password1.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.password1|add_class:'uk-width-1-1' }}
                        <p class="uk-form-help-block uk-text-muted">{{ user_form.password1.help_text }}</p>
                        {{ user_form.password1.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.password2|add_class:'uk-width-1-1' }}
                        <p class="uk-form-help-block uk-text-muted">{{ user_form.password2.help_text }}</p>
                        {{ user_form.password2.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ user_form.groups.id_for_label }}">{{ user_form.groups.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ user_form.groups|add_class:'uk-width-1-1' }}
                        {{ user_form.groups.errors }}
                    </td>
                    {% if display_is_active %}
                        <td class="uk-width-1-6 uk-text-right">
                            <label for="{{ user_form.is_active.id_for_label }}">{{ user_form.is_active.label }}</label>
                        </td>
                        <td class="uk-width-1-3">
                            {{ user_form.is_active|add_class:'uk-width-1-1' }}
                            {{ user_form.is_active.errors }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.address.id_for_label }}">{{ employee_form.address.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.address|add_class:'uk-width-1-1' }}
                        {{ employee_form.address.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.city.id_for_label }}">{{ employee_form.city.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.city|add_class:'uk-width-1-1' }}
                        {{ employee_form.city.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.state.id_for_label }}">{{ employee_form.state.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.state|add_class:'uk-width-1-1' }}
                        {{ employee_form.state.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.zip.id_for_label }}">{{ employee_form.zip.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.zip|add_class:'uk-width-1-1' }}
                        {{ employee_form.zip.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.phone1.id_for_label }}">{{ employee_form.phone1.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.phone1|add_class:'uk-width-1-1' }}
                        {{ employee_form.phone1.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.phone2.id_for_label }}">{{ employee_form.phone2.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.phone2|add_class:'uk-width-1-1' }}
                        {{ employee_form.phone2.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right {% if employee_form.pws.field.required %}uk-text-bold{% endif %}">
                        <label for="{{ employee_form.pws.id_for_label }}">{{ employee_form.pws.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.pws|add_class:'uk-width-1-1' }}
                        {{ employee_form.pws.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.company.id_for_label }}">{{ employee_form.company.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.company|add_class:'uk-width-1-1' }}
                        {{ employee_form.company.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ employee_form.has_licence_for_installation.id_for_label }}">{{ employee_form.has_licence_for_installation.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ employee_form.has_licence_for_installation|add_class:"uk-width-1-1" }}
                        {{ employee_form.has_licence_for_installation.errors }}
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="uk-button uk-button-primary uk-float-right">{% trans "Submit" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}