{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% trans "BFP" %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="uk-h2">
            <a href="{% url 'webapp:home' %}">
                {% trans "BFP" %}
            </a>
        </li>
        {% block left-menu %}
            {% if super %}
                <li><a href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
                <li><a href="#">{% trans "PWS" %}</a></li>
            {% endif %}
            {% if admin %}
                <li><a href="#">{% trans "Customers" %}</a></li>
                <li><a href="#">{% trans "Letters" %}</a></li>
                <li><a href="#">{% trans "Selectables" %}</a></li>
                <li><a href="#">{% trans "Import" %}</a></li>
            {% endif %}
            <li><a href="{% url "webapp:home" %}">{% trans "Sites" %}</a></li>
        {% endblock %}
    </ul>
    <div class="uk-navbar-flip">
        {% block right-menu %}
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'accounts:logout' %}">{% trans "Log out" %}</a></li>
            </ul>
        {% endblock %}
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>