{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% trans "BFP" %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="uk-h2">
            <a href="{% url 'webapp:home' %}">
                {% trans "BFP" %}
            </a>
        </li>
        {% block left-menu %}
            {% if sup %}
                <li class="uk-parent" data-uk-dropdown="">
                    <a href="">{% trans "Permissions" %}</a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="">{% trans "Licences" %}</a></li>
                            <li><a href="">{% trans "Inspections" %}</a></li>
                            <li><a href="">{% trans "Test Permissions" %}</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="{% url "admin" %}">{% trans "Admin" %}</a>
                </li>
                {% elif adm %}
                <li class="uk-parent" data-uk-dropdown="">
                    <a href="">{% trans "Permissions" %}</a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="">{% trans "Inspections" %}</a></li>
                            <li><a href="">{% trans "Test Permissions" %}</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url "admin" %}">{% trans "Admin" %}</a></li>
                {% elif surv %}
                <li><a href="">Surv</a></li>
                {% elif test %}
                <li><a href="">Test</a></li>
            {% endif %}
        {% endblock %}
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            {% block right-menu %}
            {% endblock %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
