{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% trans "BFP Services" %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom/style.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="uk-parent" data-uk-dropdown="" id="bfp_menu">
            <a href="{% url 'webapp:home' %}">
                {% trans "BFP" %}
            </a>

            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    {% if perms.webapp.superadministrator %}
                        <li><a id="admin_link" href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
                        <li><a id="pws_link" href="#">{% trans "PWS" %}</a></li>
                    {% endif %}
                    {% if perms.webapp.administrator %}
                        <li><a id="customers_link" href="#">{% trans "Customers" %}</a></li>
                        <li><a id="letters_link" href="#">{% trans "Letters" %}</a></li>
                        <li><a id="selectables_link" href="#">{% trans "Selectables" %}</a></li>
                        <li><a id="import_link" href="#">{% trans "Import" %}</a></li>
                    {% endif %}
                    <li><a id="sites_link" href="{% url "webapp:home" %}">{% trans "Sites" %}</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav" id="page_menu">
            {% block menu %}
            {% endblock %}
        </ul>
    </div>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a href="{% url 'accounts:logout' %}">{% trans "Log Out" %}</a></li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>