{% load i18n %}
{% load boolean_yes_no %}
<hr>
{% for hazard in hazards %}
    <div data-uk-toggle="{target:'#hazard-{{ hazard.pk }}'}">
        <a class="uk-align-center uk-text-center">
            <h4>{{ hazard.location1 }}, {{ hazard.hazard_type }}</h4>
        </a>
    </div>
    <div id="hazard-{{ hazard.pk }}" class="uk-panel uk-panel-box uk-hidden">
        <a href="#" class="uk-align-right">{% trans "Edit" %}</a>
        <table class="uk-table">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Location" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.assembly_location }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Location 1" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.location1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Location 2" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.location2 }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Assembly Status" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.assembly_status|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "BP Type Required" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_type_required }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Due Install/Test" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.due_install_test_date }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Installer" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.installer }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Install Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.install_date }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Replace Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.replace_date }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "BP Type Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_type_present }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Orientation" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.orientation }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "BP Size" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.bp_size }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Manufacturer" %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.manufacturer }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Model No." %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.model_no }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Serial No." %}</td>
                <td class="uk-text-center uk-text-primary">{{ hazard.serial_no }}</td>
            </tr>
            {% if fire %}
                <tr>
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Manufacturer" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ hazard.detector_manufacturer }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Model" %}</td>
                    <td class="uk-text-center uk-text-primary">{{ hazard.detector_model }}</td>
                    <td class="uk-text-right uk-text-muted">{% trans "Detector Serial No." %}</td>
                    <td class="uk-text-center uk-text-primary">{{ hazard.detector_serial_no }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td class="uk-text-center uk-text-primary" colspan="7">{{ hazard.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
{% endfor %}