{% extends 'base.html' %}
{% load i18n staticfiles file_names %}
{% block content %}
    <div class="wrapper">
        {% for group, help_items in help_groups %}
        <div class="uk-margin-large-left uk-margin-large-right uk-margin-large-bottom">
            <h3>{{ group }}</h3>
            <ul>
                {% for help_item in help_items %}
                    <li>
                        <a href="{{ help_item.pdf_file.url }}">{{ help_item.pdf_file.name|file_name }}</a>
                    </li>
                {% empty %}
                    <li>
                        {% trans "No help for this group available" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}