{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
    {% include "messages.html" %}
    <div class="wrapper">
        <div class="uk-align-center uk-width-large-3-5 uk-width-medium-4-5 uk-width-small-9-10">
            <div class="uk-text-center">
                <form class="uk-form" method="post" name="price_setup">
                    {% csrf_token %}
                    <p>{{ form.price.label }}: {{ form.price }}</p>
                    <p>{{ form.price.errors }}</p>
                    <p>{{ form.pws_multiple.label }}: {{ form.pws_multiple }}</p>
                    <p>{{ form.pws_multiple.errors }}</p>
                    <button class="uk-button uk-button-primary" type="submit">{% trans "Update Price" %}</button>
                </form>
            </div>
            <table class="uk-table">
                <thead>
                <tr>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "PWS" %}</th>
                    <th>{% trans "Activation Date" %}</th>
                    <th>{% trans "Deactivation Date" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for active_price in active_prices %}
                    <tr>
                        <td>{{ active_price.price|floatformat:2 }}</td>
                        <td>{% if active_price.pws %}{{ active_price.pws }}{% else %}Default{% endif %}</td>
                        <td>{{ active_price.start_date }}</td>
                        <td>{% spaceless %}
                            {% if active_price.end_date %}
                                {{ active_price.end_date }}
                            {% else %}
                                {% trans "Active (Current Price)" %}
                            {% endif %}
                         {% endspaceless %}</td>
                    </tr>
                {% endfor %}
                {% if old_prices %}
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                {% endif %}
                {% for price_item in old_prices %}
                    <tr>
                        <td>{{ price_item.price|floatformat:2 }}</td>
                        <td>{% if price_item.pws %}{{ price_item.pws }}{% else %}Default{% endif %}</td>
                        <td>{{ price_item.start_date }}</td>
                        <td>
                            {% if price_item.end_date %}
                                {{ price_item.end_date }}
                            {% else %}
                                {% trans "Active (Current Price)" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(".js-select2-multiple").select2();
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/components/select2.min.css' %}"/>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/select2.min.js' %}"></script>
{% endblock %}
