{% extends 'base.html' %}
{% load i18n %}
{% block menu %}
    <li><a href="{% url 'webapp:pws_list' %}">{% trans "List" %}</a></li>
{% endblock %}
{% block content %}
    <div class="table-wrapper">
        <form class="uk-form" method="post" name="pws">
            {% csrf_token %}
            <table class="uk-table">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right"><label
                            for="{{ form.number.id_for_label }}">{{ form.number.label }}</label></td>
                    <td class="uk-width-1-3">
                        <p>{{ form.number }}</p>
                        {{ form.number.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right"><label
                            for="{{ form.name.id_for_label }}">{{ form.name.label }}</label></td>
                    <td class="uk-width-1-3">
                        <p>{{ form.name }}</p>
                        {{ form.name.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right"><label
                            for="{{ form.city.id_for_label }}">{{ form.city.label }}</label></td>
                    <td class="uk-width-1-3">
                        <p>{{ form.city }}</p>
                        {{ form.city.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right"><label
                            for="{{ form.water_source.id_for_label }}">{{ form.water_source.label }}</label></td>
                    <td class="uk-width-1-3">
                        <p>{{ form.water_source }}</p>
                        {{ form.water_source.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-6 uk-text-right"><label
                            for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label></td>
                    <td class="uk-width-5-6" colspan="3">
                        <p>{{ form.notes }}</p>
                        {{ form.notes.errors }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="uk-button uk-button-primary uk-float-right">{% trans "Submit" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}