{% load i18n %}
<table class="uk-table uk-text-center uk-table-hover">
    <thead>
    <tr>
        <th class="uk-text-center uk-width-4-5">
            {% trans "Sites" %}
        </th>
        {% if admin or super %}
            <th colspan="2" class="uk-text-center uk-width-1-5">
                {% trans "Actions" %}
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for site in site_list %}
        <tr>
            <td>
                <a href="#">{{ site }}</a>
            </td>
            {% if admin or super %}
                <td>
                    <a href="#">{% trans "Edit" %}</a>
                </td>
                <td>
                    <a href="#">{% trans "Assign Survey/Test" %}</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>