{% extends "base.html" %}
{% load i18n %}
{% load boolean_yes_no %}
{% load surveys_for_services %}
{% load hazards_for_services %}
{% block menu %}
    {% if perms.webapp.change_site %}
        <li><a href="{% url 'webapp:site_edit' site.pk %}" id="site_{{ site.pk }}_edit_link">{% trans "Edit" %}</a></li>
    {% endif %}
    {% if perms.webapp.assign_surveyor or perms.webapp.assign_tester %}
        <li class="uk-parent" data-uk-dropdown="">
            <a href="#" id="assign_link">{% trans "Assign" %}</a>

            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="{% url 'webapp:inspection_add' site.pk %}" id="site_{{ site.pk }}_inspection_add_link">{% trans "Assign Surveyor" %}</a></li>
                    <li><a href="{% url 'webapp:testpermission_add' site.pk %}" id="site_{{ site.pk }}_testpermission_add_link">{% trans "Grant Test Permission" %}</a></li>
                </ul>
            </div>
        </li>
    {% endif %}
    {% if perms.webapp.commit_site %}
        <li><a href="#" data-uk-modal="{target: '#commit_site'}" id="commit_site_menu_button">{% trans "Commit" %}</a></li>
    {% endif %}
    <li><a href="{% url "webapp:home" %}">{% trans "Site List" %}</a></li>
{% endblock %}
{% block content %}
    <div class="uk-modal" id="commit_site">
        {% include "site_commit_popup.html" %}
    </div>
    <div id="site_detail" class="wrapper">
        {% include 'messages.html' %}
        <table class="uk-table">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Customer" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.customer.name }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "PWS" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.pws.name }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Connect Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.connect_date }}</td>
            </tr>
            <tr class="table-border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Site Use" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.site_use }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Site Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.site_type }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "City" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.city }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "State" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.state }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "ZIP" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.zip }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Street Address" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.address1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Street Number" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.address2 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Appartment" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.apt }}</td>
            </tr>
            <tr class="table-border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Floors Count" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.floors }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Interconnection Point" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.interconnection_point }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Number" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_number }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Size" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_size }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Reading" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_reading }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Potable Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.potable_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Fire Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.fire_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Irrigation Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.irrigation_present|yn }}</td>
            </tr>
            <tr class="table-border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Is Due Install" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.is_due_install|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Is Backflow" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.is_backflow|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Next Survey Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.next_survey_Date }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td colspan="5">{{ site.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3 class="uk-text-center">{% if perms.webapp.browse_survey %}{% trans "Surveys" %}{% else %}{% trans "Hazards" %}{% endif %}</h3>
    <div id="tab_control" class="uk-tab-center">
        <ul class="uk-tab" data-uk-tab="{connect:'#services'}">
            <li class="uk-active">
                <a href="#" id="potable_link">{% trans "Potable" %}</a>
            </li>
            <li>
                <a href="#" id="fire_link">{% trans "Fire" %}</a>
            </li>
            <li>
                <a href="#" id="irrigation_link">{% trans "Irrigation" %}</a>
            </li>
        </ul>
    </div>
    <div id="tab_content">
        <ul class="uk-switcher uk-margin" id="services">
            <li>
                <div id="potable_content">
                    {% if site.potable_present %}
                        {% if perms.webapp.browse_survey %}
                            {% include_surveys 'potable' %}
                        {% else %}
                            {% include_hazards 'potable' %}
                        {% endif %}
                    {% else %}
                        <h4 class="padding-top uk-text-center">
                            {% trans "Potable water supply is not present" %}
                        </h4>
                    {% endif %}
                </div>
            </li>
            <li>
                <div id="fire_content">
                    {% if site.fire_present %}
                        {% if perms.webapp.browse_survey %}
                            {% include_surveys 'fire' %}
                        {% else %}
                            {% include_hazards 'fire' %}
                        {% endif %}
                    {% else %}
                        <h4 class="padding-top uk-text-center">
                            {% trans "Fire water supply is not present" %}
                        </h4>
                    {% endif %}
                </div>
            </li>
            <li>
                <div id="irrigation_content">
                    {% if site.irrigation_present %}
                        {% if perms.webapp.browse_survey %}
                            {% include_surveys 'irrigation' %}
                        {% else %}
                            {% include_hazards 'irrigation' %}
                        {% endif %}
                    {% else %}
                        <h4 class="padding-top uk-text-center">
                            {% trans "Irrigation water supply is not present" %}
                        </h4>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
{% endblock %}