{% load i18n %}
{% load pagination_tags %}
{% load widget_tweaks %}
{% autopaginate site_filter.qs as filtered_sites 50 %}
{% include 'messages.html' %}


<form action="" method="get" name="site_filter" class="uk-form">
    <div class="table-wrapper">
        <table class="uk-table">
            <thead>
            <tr class="table-border-bottom">
                <th colspan="12" class="uk-text-center uk-text-large uk-text-primary">
                    {% trans "Filters" %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="uk-text-center">
                <td colspan="4">
                    {% trans "Customer name or account" %}:
                    {{ site_filter.form.customer }}
                </td>
                <td colspan="4">
                    {% trans "Site City" %}:
                    {{ site_filter.form.city }}
                </td>
                <td colspan="4">
                    {% trans "Site Address" %}:
                    {{ site_filter.form.address }}
                </td>
            </tr>
            <tr class="table-border-bottom uk-text-center">
                <td colspan="3">
                    {% trans "Site Use" %}:
                    {{ site_filter.form.site_use }}
                </td>
                <td colspan="3">
                    {% trans "Site Type" %}:
                    {{ site_filter.form.site_type }}
                </td>
                <td colspan="3">
                    {% trans "Site Status" %}:
                    {{ site_filter.form.status }}
                </td>
                <td colspan="3">
                    {% trans "Next Survey Date" %}:
                    {{ site_filter.form.next_survey_date }}
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <button class="uk-button uk-button-primary uk-align-center" type="submit">
                        {% trans "Apply Filters" %}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
{% paginate %}
<div class="table-wrapper">
    <table class="uk-table uk-table-hover">
        <thead>
        <tr class="table-border-bottom">
            <th class="uk-text-center table-border-right">
                {% trans "ID" %}
            </th>
            <th>
                {% trans "Address" %}
            </th>
            <th>
                {% trans "Customer" %}
            </th>
            <th>
                {% trans "Site Use" %}
            </th>
            <th>
                {% trans "Site Type" %}
            </th>
            <th>
                {% trans "Site Status" %}
            </th>
            <th>
                {% trans "Next Survey" %}
            </th>
            <th colspan="2" class="uk-text-center table-border-left">
                {% trans "Actions" %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for site in filtered_sites %}
            <tr>
                <td class="uk-text-center table-border-right">
                    {{ site.pk }}
                </td>
                <td>
                    {{ site.city }}, {{ site.address1 }}
                </td>
                <td>
                    {{ site.customer.number }}, {{ site.customer.name }}
                </td>
                <td>
                    {{ site.site_use }}
                </td>
                <td>
                    {{ site.site_type }}
                </td>
                <td>
                    {{ site.status }}
                </td>
                <td>
                    {{ site.next_survey_date }}
                </td>
                {% if perms.webapp.browse_site %}
                    <td class="uk-text-center table-border-left">
                        <a href="{% url 'webapp:site_detail' site.pk %}">{% trans "Detail" %}</a>
                    </td>
                {% endif %}
                {% if perms.webapp.assign_surveyor %}
                    <td class="uk-text-center">
                        <a href="#">{% trans "Assign" %}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% paginate %}
