{% load i18n %}
{% load widget_tweaks %}
<div class="table-wrapper">
    {% include 'messages.html' %}
    <form class="uk-form" method="get" name="site_filter">
        <table class="uk-table uk-table-hover my-table">
            <thead>
            <tr>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "City" %}
                </th>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "Address" %}
                </th>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "Customer" %}
                </th>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "PWS" %}
                </th>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "Site Use" %}
                </th>
                <th class="uk-text-center uk-width-1-7">
                    {% trans "Site Type" %}
                </th>
                <th class="uk-text-center uk-width-1-7" colspan="2">
                    {% trans "Actions" %}
                </th>
            </tr>
            <tr>
                <td>
                    {{ site_filter.form.city }}
                </td>
                <td>
                    {{ site_filter.form.address1 }}
                </td>
                <td>
                    {{ site_filter.form.customer }}
                </td>
                <td>
                    {{ site_filter.form.pws }}
                </td>
                <td>
                    {{ site_filter.form.site_use }}
                </td>
                <td>
                    {{ site_filter.form.site_type }}
                </td>
                <td class="uk-width-1-7" colspan="2">
                    <button class="uk-button uk-button-primary uk-width-1-1" type="submit">{% trans "Filter" %}</button>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for site in site_filter %}
                <tr>
                    <td>
                        {{ site.city }}
                    </td>
                    <td>
                        {{ site.address1 }}
                    </td>
                    <td>
                        {{ site.customer.name }}
                    </td>
                    <td>
                        {{ site.pws.name }}
                    </td>
                    <td>
                        {{ site.site_use }}
                    </td>
                    <td>
                        {{ site.site_type }}
                    </td>
                    {% if perms.webapp.browse_site %}
                        <td class="uk-text-center uk-width-1-14">
                            <a href="{% url 'webapp:site_detail' site.pk %}">{% trans "Detail" %}</a>
                        </td>
                    {% endif %}
                    {% if perms.webapp.assign_surveyor %}
                        <td class="uk-text-center uk-width-1-14">
                            <a href="#">{% trans "Assign" %}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>