{% load i18n %}
<table class="uk-table uk-text-center uk-table-hover">
    <thead>
    <tr>
        <th class="uk-text-center uk-width-4-5">
            {% trans "Site" %}
        </th>
        <th colspan="2" class="uk-text-center uk-width-1-5">
            {% trans "Actions" %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for site in site_list %}
        <tr>
            <td>
                {{ site }}
            </td>
            <td>
                <a href="">o_o</a>
            </td>
            <td>
                <a href="">o_o</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>