{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block menu %}
    <li><a href="{% url 'webapp:inspection_list' %}">{% trans "Cancel" %}</a></li>
{% endblock %}
{% block content %}
    <div class="wrapper">
        {% include 'messages.html' %}
        <form class="uk-form" method="post" name="inspection">
            {% csrf_token %}
            <table class="uk-table">
                <tbody>
                <tr>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.given_to.id_for_label }}">{{ form.given_to.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.given_to|add_class:'uk-width-1-1' }}
                        {{ form.given_to.errors }}
                    </td>
                    <td class="uk-width-1-6 uk-text-right uk-text-bold">
                        <label for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
                    </td>
                    <td class="uk-width-1-3">
                        {{ form.due_date|add_class:'uk-width-1-1' }}
                        {{ form.due_date.errors }}
                    </td>
                </tr>
                {% if form.instance.pk %}
                    <tr>
                        <td class="uk-width-1-6 uk-text-right">
                            <label for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
                        </td>
                        <td class="uk-width-1-3">
                            {{ form.is_active }}
                            {{ form.is_active.errors }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="uk-width-1-6 uk-text-right">
                        <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                    </td>
                    <td class="uk-width-5-6" colspan="3">
                        {{ form.notes|add_class:'uk-width-1-1' }}
                        {{ form.notes.errors }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="uk-button uk-button-primary uk-float-right">{% trans "Submit" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}