{% load i18n %}
{% load pagination_tags %}
{% load widget_tweaks %}
{% load staticfiles %}
{% autopaginate site_filter.qs as filtered_sites 50 %}
<div class="uk-grid">
    {% include 'site/site_filters.html' %}

    <div id="uk-width-4-5" class="uk-width-4-5" style="margin-left: 260px; padding-top: 10px;">
        {% include 'messages.html' %}
        <div class="pagination-wrapper">{% paginate %}</div>

        <table class="uk-table big-table uk-table-hover fixed-headers">
            <thead>
            <tr class="table-border-bottom">
                <th class="table-border-right">
                    {% trans "ID" %}
                </th>
                <th>
                    {% trans "PWSID" %}
                </th>
                <th>
                    {% trans "Account Number" %}
                </th>
                <th>
                    {% trans "Customer Code" %}
                </th>
                <th>
                    {% trans "Customer Name" %}
                </th>
                <th>
                    {% trans "Service Street Number" %}
                </th>
                <th>
                    {% trans "Service Address Street" %}
                </th>
                <th>
                    {% trans "Service Address 2" %}
                </th>
                <th>
                    {% trans "Site Apt" %}
                </th>
                <th>
                    {% trans "Service Town" %}
                </th>
                <th>
                    {% trans "Service State" %}
                </th>
                <th>
                    {% trans "Service Zip" %}
                </th>
                <th>
                    {% trans "Customer Address 1" %}
                </th>
                <th>
                    {% trans "Customer Address 2" %}
                </th>
                <th>
                    {% trans "Customer Apt" %}
                </th>
                <th>
                    {% trans "Customer City" %}
                </th>
                <th>
                    {% trans "Customer State" %}
                </th>
                <th>
                    {% trans "Customer Zip" %}
                </th>
                <th>
                    {% trans "Seq. Route" %}
                </th>
                <th>
                    {% trans "Meter Number" %}
                </th>
                <th>
                    {% trans "Meter Size" %}
                </th>
                <th>
                    {% trans "Meter Reading" %}
                </th>
                <th>
                    {% trans "Connect Date" %}
                </th>
                <th>
                    {% trans "Next Survey Date" %}
                </th>
                <th>
                    {% trans "Last Survey Date" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for site in filtered_sites %}
                <tr class="clickable-row" data-href="{% url 'webapp:site_detail' site.pk %}" data-id="{{ site.pk }}">
                    <td class="table-border-right">{{ site.pk }}</td>
                    <td>
                        {{ site.pws.number }}
                    </td>
                    <td>
                        {{ site.cust_number }}
                    </td>
                    <td>
                        {{ site.cust_code }}
                    </td>
                    <td>
                        {{ site.cust_name }}
                    </td>
                    <td>
                        {{ site.street_number }}
                    </td>
                    <td>
                        {{ site.address1 }}
                    </td>
                    <td>
                        {{ site.address2 }}
                    </td>
                    <td>
                        {{ site.apt }}
                    </td>
                    <td>
                        {{ site.city }}
                    </td>
                    <td>
                        {{ site.state }}
                    </td>
                    <td>
                        {{ site.zip }}
                    </td>
                    <td>
                        {{ site.cust_address1 }}
                    </td>
                    <td>
                        {{ site.cust_address2 }}
                    </td>
                    <td>
                        {{ site.cust_apt }}
                    </td>
                    <td>
                        {{ site.cust_city }}
                    </td>
                    <td>
                        {{ site.cust_state }}
                    </td>
                    <td>
                        {{ site.cust_zip }}
                    </td>
                    <td>
                        {{ site.route }}
                    </td>
                    <td>
                        {{ site.meter_number }}
                    </td>
                    <td>
                        {{ site.meter_size }}
                    </td>
                    <td>
                        {{ site.meter_reading }}
                    </td>
                    <td>
                        {{ site.connect_date }}
                    </td>
                    <td>
                        {{ site.next_survey_date }}
                    </td>
                    <td>
                        {{ site.last_survey_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination-wrapper">{% paginate %}</div>
    </div>
</div>
<style>
    .clickable-row {
        cursor: pointer;
    }
</style>
<script>
    var filters = $('.fixed-filters');
    var navbar = $('nav.uk-navbar');
    var navbarHeight = parseInt(navbar.height());
    var navbarWidth = parseInt(navbar.width());
    var paginationWrapper = $('.pagination-wrapper');

    var defaultTop = parseInt(filters.css('top'));
    var lastScrollLeft = 0;
    var documentScrollLeft;

    $('.clickable-row').click(function (e) {
        window.document.location = $(this).data("href");
    });

    $('.fixed-headers').floatThead({
        scrollingTop: navbarHeight
    });

    $(document).scroll(function (e) {
        documentScrollLeft = $(document).scrollLeft();
        if (lastScrollLeft != documentScrollLeft) {
            scrollPagination();
            lastScrollLeft = documentScrollLeft;
        }
    });

    function scrollPagination() {
        paginationWrapper.css('margin-left', documentScrollLeft + 'px');
    }


    $(document).ready(function () {
        $(document).on('show.uk.offcanvas', function () {
            document.getElementById("uk-width-4-5").style.marginLeft = "0px";
        });

        $(document).on('hide.uk.offcanvas', function () {
            document.getElementById("uk-width-4-5").style.marginLeft = "260px";
        });
    });

</script>