{% extends "base.html" %}
{% load i18n choices %}
{% block menu %}
    {% if perms.webapp.change_site %}
        <li><a href="{% url 'webapp:site_edit' site.pk %}" id="site_{{ site.pk }}_edit_link">{% trans "Edit" %}</a></li>
    {% endif %}
    {% if perms.webapp.send_letter %}
        <li><a href="{% url 'webapp:letter_add' site.pk %}" id="site_{{ site.pk }}_letter_link">{% trans "New Letter" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="site_detail" class="wrapper">
        {% include 'messages.html' %}
        <h2 class="uk-text-center">{% trans "Site" %}: {{ site.street_number }} {{ site.address1 }}</h2>

        <h3 class="uk-text-center">{% trans "Account Number" %}: {{ site.cust_number }}</h3>
        <table class="uk-table border-none uk-table-condensed">
            <tbody>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Account Number" %}</td>
                <td class="uk-text-center color-coding">{{ site.cust_number }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "PWS" %}</td>
                <td class="uk-text-center color-coding">{{ site.pws.name }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Connect Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.connect_date }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Site Use" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.site_use }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Site Type" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.site_type }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Site Status" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.status }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "City" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.city }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "State" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.state }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "ZIP" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.zip }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Service Address" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.address1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Service Street Number" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.street_number }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Service Apartment" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.apt }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Service Address 2" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.address2 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Floors Count" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.floors }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Interconnection Point" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.interconnection_point }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Sequence Route" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.route }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Name" %}</td>
                <td class="uk-text-center color-coding">{{ site.cust_name }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Mailing Address" %}</td>
                <td class="uk-text-center color-coding">{{ site.cust_address1 }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Code" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.cust_code }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Apartment Number" %}</td>
                <td class="uk-text-center color-coding">{{ site.cust_apt }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Address 2" %}</td>
                <td class="uk-text-center color-coding">{{ site.cust_address2 }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Customer City" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.cust_city }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer State" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.cust_state }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer ZIP" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.cust_zip }}</td>
            </tr>
            <tr class="border-bottom">
                <td class="uk-text-right uk-text-muted">{% trans "Customer Phone" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.contact_phone }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Fax" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.contact_fax }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Customer Email" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.contact_email }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Number" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_number }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Size" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_size }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Meter Reading" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.meter_reading }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Potable Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.potable_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Fire Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.fire_present|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Irrigation Present" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.irrigation_present|yn }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Is Due Install" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.is_due_install|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Is Backflow" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.is_backflow|yn }}</td>
                <td class="uk-text-right uk-text-muted">{% trans "Next Survey Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.next_survey_date }}</td>
            </tr>
            <tr class="border-bottom">
                <td colspan="4"></td>
                <td class="uk-text-right uk-text-muted">{% trans "Last Survey Date" %}</td>
                <td class="uk-text-center uk-text-primary">{{ site.last_survey_date }}</td>
            </tr>
            <tr>
                <td class="uk-text-right uk-text-muted">{% trans "Notes" %}</td>
                <td colspan="5" class="uk-text-primary">{{ site.notes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="tab_control" class="uk-flex uk-flex-center">
        <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#rel_data'}">
            {% if perms.webapp.browse_survey %}
                <li class="uk-active">
                    <a href="#" id="surveys_button" class="uk-text-large">{% trans "Surveys" %}</a>
                </li>
            {% endif %}
            {% if perms.webapp.browse_hazard %}
                <li>
                    <a href="#" id="hazards_button" class="uk-text-large">{% trans "Hazards" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="tab_content">
        <ul class="uk-switcher uk-margin" id="rel_data">
            {% if perms.webapp.browse_survey %}
                <li>
                    <div id="surveys_content">
                        {% if perms.webapp.add_survey %}
                            <div id="survey-button-group" class="wrapper uk-text-center">
                                <a class="uk-button uk-button-primary uk-button-large" href="{% url 'webapp:survey_add' site.pk 'potable' %}"
                                   id="site_{{ site.pk }}_service_potable_survey_add_link">{% trans "Add Potable" %}</a>
                                <a class="uk-button uk-button-danger uk-button-large" href="{% url 'webapp:survey_add' site.pk 'fire' %}"
                                   id="site_{{ site.pk }}_service_fire_survey_add_link">{% trans "Add Fire" %}</a>
                                <a class="uk-button uk-button-success uk-button-large" href="{% url 'webapp:survey_add' site.pk 'irrigation' %}"
                                   id="site_{{ site.pk }}_service_irrigation_survey_add_link">{% trans "Add Irrigation" %}</a>
                            </div>
                        {% endif %}
                        <div class="wrapper">
                            <table class="uk-table uk-table-hover">
                                <thead>
                                <tr class="border-bottom">
                                    <th class="border-right uk-text-center">
                                        {% trans "No." %}
                                    </th>
                                    <th>
                                        {% trans "Service Type" %}
                                    </th>
                                    <th>
                                        {% trans "Survey type" %}
                                    </th>
                                    <th>
                                        {% trans "Survey Date" %}
                                    </th>
                                    <th>
                                        {% trans "Surveyor" %}
                                    </th>
                                    <th colspan="2" class="uk-text-center border-left uk-width-1-10">
                                        {% trans "Actions" %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for survey in site.surveys.all %}
                                    <tr>
                                        <td class="uk-text-center border-right">
                                            {{ survey.pk }}
                                        </td>
                                        <td>
                                            {{ survey.service_type }}
                                        </td>
                                        <td>
                                            {{ survey.survey_type }}
                                        </td>
                                        <td>
                                            {{ survey.survey_date }}
                                        </td>
                                        <td>
                                            {{ survey.surveyor }}
                                        </td>
                                        <td class="uk-text-center border-left">
                                            <a href="{% url "webapp:survey_detail" survey.pk %}" id="survey_{{ survey.pk }}_detail_link">
                                                {% trans "Detail" %}
                                            </a>
                                        </td>
                                        <td class="uk-text-left">
                                            {% if perms.webapp.change_survey %}
                                            <a href="{% url 'webapp:survey_edit' survey.pk %}" id="survey_{{ survey.pk }}_edit_link">{% trans "Edit" %}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if perms.webapp.browse_hazard %}
                <li>
                    <div id="hazards_content">
                        {% include 'hazard/hazard_include_list.html' with hazards=site.hazards.all %}
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}